// /**
//  * Copyright © Linets, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */
//
// Linets Theme
// ______________________________________________

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .block-balance {
        .balance-price-label {
            &:extend(.abs-visually-hidden all);
        }

        .price {
            .lib-css(margin-top, -@indent__s);
            .lib-font-size(32);
            display: inline-block;
            line-height: 32px;
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .storecredit {
        .block {
            &:extend(.abs-blocks-2columns all);
        }

        .block-balance-history {
            width: 100%;
        }
    }

    .table-balance-history {
        .col {
            width: 25%;
        }
    }

    .table-wrapper.balance-history {
        &:extend(.abs-account-table-margin-desktop all);
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .table-wrapper.balance-history {
        &:extend(.abs-account-table-margin-mobile all);
        &:extend(.abs-no-border-top all);
    }
}
