// /**
//  * Copyright © Linets, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */
//
// Linets Theme
// ______________________________________________

//
//  Variables
//  _____________________________________________


//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    #layered-filter-block {

        .filter-content {

            .filter-options {
    
                .items .items-children.-folding {
                    padding-left:0;
                }
    
                &-item {
    
                    .items:not(.items-children):not(.am-category-view),
                    .am-category-wrapper,
                    .amshopby-fromto-wrap {
                        margin: 0;
                    }
    
                }
            }
        }
    }

}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {

}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s) {

}
