// /**
//  * Copyright © Linets, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */
//
// Linets Theme
// ______________________________________________
//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .breadcrumbs {
        .lib-breadcrumbs();
        margin: 0 0 40px;
        padding: 8px;
        background: @color-gray94;
        .items{
            .item{
                font-size: 14px;
                a{
                    font-weight: 700;
                    color: @color-gray20;
                    &:hover{
                        text-decoration: none;
                    }
                }
                &:not(:last-child):after{
                    font-size: 14px;
                    margin: 2px 10px;
                }
            }
        }
    }
    
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .breadcrumbs {
        display: block;
    }
}
