// /**
//  * Copyright © Linets, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */
//
// Linets Theme
// ______________________________________________
//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    //  Using buttons mixins
    button,
    a.action.primary {
        .lib-css(border-radius, @button__border-radius);
        background: @primary__color;

        &:hover {
            opacity: .8;
        }
        &:visited{
            color: @color-white;
        }
        &:not(.selected){
            color: @color-white;
        }
    }

    button {
        &:not(.primary) {
            .lib-css(box-shadow, @button__shadow);

            &:active {
                .lib-css(box-shadow, @button__shadow-active);
            }
        }
        span{
            color:@color-white;
            text-transform: uppercase;
            font-weight: 500;
        }
    }

    body {
        &:not(._keyfocus) {
            button {
                &:focus {
                    box-shadow: none;
                }
            }
        }
    }

    a.action.primary {
        .lib-link-as-button();
        .lib-css(border-radius, @button__border-radius);
    }

    .action.primary {
        .lib-css(border-radius, @button__border-radius);
        background: @primary__color;
    }
}
