// /**
//  * Copyright © Linets, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */
//
// Linets Theme
// ______________________________________________


//NORMALICE WIDGET BLOCK
.widget.block.block-static-block {
    margin-bottom: 0px;
}

//NORMALICE WISHLIST ICON
.product-social-links .action.towishlist:before, .block-bundle-summary .action.towishlist:before, .product-item .action.towishlist:before, .table-comparison .action.towishlist:before, .split.wishlist .action.split:before{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: ' ' !important;
    background-image: url('@{baseDir}images/wishlist.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    display: inline-block;
    font-weight: @font-style__base;
    overflow: hidden;
    text-align: center;
}

//NORMALICE ON FOCUS
._keyfocus *,
input:not([disabled]),
textarea:not([disabled]),
select:not([disabled]) {

    &:focus {
        box-shadow: none;
    }
}

//NORMALICE ADDTOCART CONFIGURABLE
a.action.tocart.primary {
    height: 14px;

    span {
        color: #fff;
        text-transform: uppercase;
        font-weight: @font-weight__heavier;
    }
}

//NORMALICE PRODUCT DATA
.product.data.items {
    margin-left: initial !important;
    margin-right: initial !important;
}

//HIDE PRODUCT REVIEW 
.catalog-category-view, .cms-index-index, .account {

    .product-reviews-summary.short{
        display: none;
    }
}

//HIDE ITEMS ACCOUNT
.account {
    #block-collapsible-nav {
        .item {
            &:nth-child(3),
            &:nth-child(4),
            &:nth-child(9),
            &:nth-child(10),
            &:nth-child(11),
            &:nth-child(13),
            &:nth-child(14),
            &:nth-child(17) {
                display: none;
            }
        }
    }
}

//PANEL-HEADER
.page-wrapper {
    .page-header {
        background: #fff;
        box-shadow: 0px 3px 6px #00000015;
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 99;

        .header.content {
            background-color: @color-white;
        }

        .panel.wrapper {
            background-color: @color-gray80;
            border-bottom: 0;

            .header.panel {
                .widget-header-top-msg {
                    float: left;
                    
                    .header-top-msg {
                        color: @primary__color;
                    }

                    .header-top-msg-price {
                        color: @color-black;
                        font-weight: @font-weight__bold;
                    }
                }

                .header.links {
                    > li > a {
                        color: @color-black;
                        text-decoration: none;
    
                        &:visited {
                            color: @primary__color__dark;
                            text-decoration: none;
                        }
    
                        &:hover {
                            color: @primary__color__dark;
                            text-decoration: @color-black_dark;
                        }
                    }
    
                    &:before {
                        content: ' ';
                        background-image: url('@{baseDir}images/user.svg');
                        background-size: 100%;
                        background-repeat: no-repeat;
                        width: 22px;
                        height: 20px;
                        display: inline-block;
                    }
    
                    .authorization-link {
                        &:after {
                            content: '|' !important;
                            color: @primary__color;
                        }
                    }
                }
            }

            .widget.block.block-static-block {
                display: initial;
                text-align: center;

                .linets-header-panel-top {
                    max-width: 800px;
                    margin: 0 auto;
                    @media screen and (max-width: 358px) {
                        .lib-font-size(12);
                    }
                }
            }
        }

        .header.content {
            .custom.link.wishlist {
                float: right;
                position: relative;
                top: 12px;
                margin: 0 10px;

                .wishlist-custom:before {
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                    content: ' ';
                    background-image: url('@{baseDir}images/wishlist.svg');
                    background-size: 100%;
                    background-repeat: no-repeat;
                    width: 25px;
                    height: 25px;
                    display: inline-block;
                    font-weight: @font-weight__regular;
                    overflow: hidden;
                    text-align: center;
                }
            }

            //Minicart
            .minicart-wrapper {
                margin-left: initial;
                margin: 0 @indent__xs;
                position: relative;
                top: 12px;

                .action.showcart {

                    &:before {
                        -webkit-font-smoothing: antialiased;
                        -moz-osx-font-smoothing: grayscale;
                        content: ' ';
                        background-image: url('@{baseDir}images/cart.svg');
                        background-size: 25px;
                        background-repeat: no-repeat;
                        width: 20px;
                        height: 25px;
                        display: inline-block;
                        font-weight: @font-weight__regular;
                        overflow: hidden;
                        text-align: center;
                    }
                }
            }

            //Catalogsearch
            .block-search {
                @media  (max-width:877px) and (min-width:768px) {
                    width: 150px;
                    padding: 0;
                }

                .block-content {
                    .amsearch-wrapper-input{
                        width: 220px !important;
                    }

                    #search {
                        border: none;
                        border-bottom: 1px solid @primary__color;
                        padding-left: 0;
                        padding-right: 0;
                        height: 25px;
                        background-color: transparent;

                        &:focus{
                            box-shadow: none;
                        }

                        @media  (max-width:877px) and (min-width:768px) {
                            .lib-font-size(10);
                            width: 120px;

                            &::placeholder {
                                .lib-font-size(10);
                            }
                        }
                    }

                    .label {
                        position: relative;
                        top: -10px;

                        &:before {
                            .lib-font-size(19);
                            line-height: 32px;
                            color: @primary__color;
                        }
                    }

                    .amsearch-loupe {
                        left: inherit;
                        right: 30px;
                    }

                    .amasty-xsearch-loader {
                        right: 25px;
                        background-color: @color-white;
                        width: 15px;
                        height: 15px;
                    }

                    .action.search {
                        opacity: inherit;

                        &:before {
                            .lib-font-size(19);
                            line-height: 32px;
                            color: @primary__color;
                        }
                    }
                }
            }

            //NAV
            .sections.nav-sections {
                @media screen and (min-width: 768px) {
                    background: transparent;
                    float: left;
                    position: relative;
                    top: 0;
                    margin: 0 0 0 5%;

                    .ninjamenus-desktop {
                        margin: 0;
                    }

                    .navigation {
                        background: transparent;

                        .level0 {
                            margin: 0;

                            &:hover > a {
                                background-color: transparent;
                                color: @color-blue1;
                            }

                            & > a {
                                padding: @indent__base 0;
                                line-height: @font-style__base;

                                span.title{
                                    padding: 0 @indent__base;
                                    font-weight: @font-style__base;
                                    border-right: 1px solid @color-blue1;
                                }

                                & > i {
                                    position: absolute;
                                    right: 15px;
                                    top: 23px;
                                }
                            }

                            &.mega {
                                span.title {
                                    padding-right: 35px;
                                }
                            }

                            &.active {
                                & > a {
                                    color: @color-blue1;
                                    background-color: transparent;
                                }
                            }

                            &:last-child {
                                & > a span.title {
                                    border-right: none;
                                }
                            }

                            & > .level-top {
                                color: @color-black_dark;
                                line-height: 0;
                                font-weight: @font-weight__regular;

                                > .ui-menu-icon {
                                    right: 3px;
                                    top: -8px;
                                } 
                            }

                            &.last {
                                border-right: inherit;
                            }

                            .item-submenu {
                                a:hover {
                                    color: @color-blue1;
                                }

                                .nav-item.active {
                                    a {
                                        color: @color-blue1;
                                    }
                                }
                            }

                            .submenu a {
                                min-width: 100px;

                                a:hover {
                                    background: @color-white;
                                }

                                &.ui-state-focus {
                                    background: @color-white;
                                }
                            }
                        }

                        .level2 {
                            .submenu a {
                                min-width: 100px;

                                a:hover {
                                    background: @color-white;
                                }
                                
                                &.ui-state-focus {
                                    background: @color-white;
                                }
                            }
                        }

                        .level0.active > .level-top, .navigation .level0.has-active > .level-top {
                            border: none;
                            font-weight: @font-weight__semibold;
                        }
                    }
                }

                @media screen and (max-width: 922px) {
                    margin: 0;
                }
            }
        }
    }  
} 


//PAGE ITEMS
.toolbar {
    .pages {
        .items.pages-items {
            .item {
                .page {
                    span { 
                        color: @color-gray20;
                    }
                }

                &.current {
                    .page {
                        background: @color-gray90;
                        padding: 0;
                        width: 29px;
                        border-radius: @button__border-radius;
                    }
                }

                &.pages-item-next {
                    .next {
                        background: @color-blue1;
                        border: none;
                        box-shadow: none;
                        border-radius: @button__border-radius  !important;

                        &:visited:before {
                            color: @color-white;
                        }

                        &:before {
                            color: @color-white;
                        }
                    }
                }
                
                &.pages-item-previous {
                    .previous {
                        background: @color-blue1;
                        border: none;
                        box-shadow: none;
                        border-radius: @button__border-radius  !important;

                        &:visited:before {
                            color: @color-white;
                        }

                        &:before {
                            color: @color-white;
                        }
                    }
                }
            }
        }

        .field.limiter {
            .limiter-text {
                display: none;
            }
        }
    }
}

//MAINCONTENT
#maincontent {
    padding-top: 140px;
    padding-left: 15px;
    padding-right: 15px;
}

//FOOTER
.page-footer {
    background: @color-gray80;

    .footer.content {
        float: left;
        padding: 60px 0 40px 0;
        margin: 0 18%;

        a:hover {
            text-decoration: none;
        }

        .custom-newsletter-title {
            float: right;
            width: 55%;
            text-align: center;
        }

        .block.newsletter {
            max-width: 100%;
            width: 55%;
            margin-top: 10px;
            margin-bottom: 0;
            float: right;

            .content {
                margin: 0 auto;

                #newsletter {
                    border: none;
                    background: transparent;
                }

                #newsletter-validate-detail {
                    background: #fff;
                    border: 1px solid @color-gray-light2;
                    padding: @indent__xs 0;
                    border-radius: @indent__xs;
                    margin: 0 auto;
                    border-radius: @button__border-radius-theme;
                }
            }
        }

        .links {
            width: 40%;
            text-align: left;
            padding: 0;

            .footer-links-container {
                display: flex;
                flex-direction: column;

                .footer-logo {
                    width: 120px;
                }

                .footer-information {
                    display: flex;
                    flex-direction: column;
                    list-style: none;
                    margin: 0;
                    padding: 0;

                    li {
                        margin: 0;
                        padding: 0;
                        align-items: center;
                        display: flex;

                        &:first-child {
                            &:before {
                                content: ' ';
                                background-size: 100%;
                                width: 30px;
                                height: 35px;
                                float: left;
                                margin-right: 15px;
                                background-image: url('@{baseDir}images/map.svg');
                            }
                        }

                        &:nth-child(2){
                            a {
                                &:before {
                                    content: ' ';
                                    background-size: 100%;
                                    background-repeat: no-repeat;
                                    width: 30px;
                                    height: 20px;
                                    float: left;
                                    margin-right: 15px;
                                    background-image: url('@{baseDir}images/mail.svg');
                                }

                            }
                        }

                        &:last-child {
                            &:before {
                                content: ' ';
                                background-size: 100%;
                                background-repeat: no-repeat;
                                width: 30px;
                                height: 25px;
                                float: left;
                                margin-right: 15px;
                                background-image: url('@{baseDir}images/phone.svg');
                            }
                        }
                    }
                }
            }

            .footer-social-links {
                list-style: none;
                display: flex;
                margin: @indent__s 0 0 0;
                padding: 0;

                li {
                    margin: 0;
                    padding: 0;

                    a {
                        display: block;
                        padding: 10px 25px 0 0;
                        
                        &:before {
                            content: ' ';
                            background-size: 100%;
                            background-repeat: no-repeat;
                            width: 25px;
                            height: 25px;
                            display: block;
                        }

                        &.link-instagram {
                            &:before {
                                background-image: url('@{baseDir}images/instagram.svg');
                            }
                        }

                        &.link-facebook {
                            &:before {
                                background-image: url('@{baseDir}images/facebook.svg');
                            }
                        }

                        &.link-twitter{
                            &:before {
                                background-image: url('@{baseDir}images/twitter.svg');
                            }
                        }

                        &.link-pinterest{
                            &:before {
                                background-image: url('@{baseDir}images/pinterest.svg');
                            }
                        }
                    }
                }
            }
        }
        
        .custom-newsletter {
            float: right;
            width: 55%;
            text-align: center;

            @media screen and (max-width: 845px) {
                width: 100%;
                padding: 0;
            }

            .footer-newsletter-bottom {
                ul {
                    list-style: none;
                    padding: 0;
                    margin: @indent__s 0;
                    display: flex;
                    justify-content: center;

                    li {
                        margin: 0 @indent__s 0;
                        border-right: 1px solid;
                        padding-right: @indent__base;

                        &:last-child {
                            border-right: none;
                        }

                        a {
                            color: @color-gray34;

                            &:hover {
                                opacity: .8;
                            }
                        }
                    }
                }
            }
        }
    }
}

//PRODUCT PAGE
//
// Common
// ______________________________________________
& when (@media-common = true) {

    .cms-home {
        h2 {
            color: @primary__color ;
            font-weight: @font-weight__bold;
            text-transform: uppercase;
        }

        .info-home ul {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0;
            padding: 0;
            list-style: none;

            li {
                margin: 0;
                position: relative;
                display: flex;
                align-items: center;
                padding: 0 @layout__width-xs-indent;

                &:after {
                    content: '';
                    width: 1px;
                    height: 30px;
                    position: absolute;
                    right: 0;
                    background: @color-gray20;
                }

                &:last-child {
                    &:after {
                        display: none;
                    }
                }
            }
        }

        &.page-layout-cms-full-width {
            .pagebuilder-slider {
                padding: 0;

                .slick-arrow {
                    padding: @indent__l;
                    z-index: 1;
                    background-color: rgba(252, 252, 252, 0.2) !important;
                }

                .slick-dots {
                    margin-top: @indent__s;

                    li {
                        button {
                            width: @indent__s;
                            height: @indent__s;
                            border: 1px solid @color-blue1 !important;
                        }

                        &.slick-active{
                            button {
                                background: @color-blue1;
                            }
                        }
                    }
                }
            }
        }

        .marcas {
            display: flex;
            justify-content: space-evenly;

            a {
                width: 130px;

                img {
                    width: 100%;
                    height: auto;
                    filter: grayscale(1);
                    -webkit-filter: grayscale(1);
                    -moz-filter: grayscale(1);
                    -ms-filter: grayscale(1);
                    -o-filter: grayscale(1);
                    opacity: .5;

                    &:hover {
                        filter: grayscale(0);
                        -webkit-filter: grayscale(0);
                        -moz-filter: grayscale(0);
                        -ms-filter: grayscale(0);
                        -o-filter: grayscale(0);
                        opacity: 1;
                    }
                }
            }
        }
    }

    .catalog-product-view {
        .product-info-main {
            .page-title {
                font-weight: @font-weight__bold;
                margin-bottom: 1rem;
                color: @color-blue1;
            }
            
            .product-reviews-summary {
                margin-bottom: 20px;
                
                .rating-summary{
                    margin: 0px;
                    
                    .rating-result > span:before {
                        color: @color-blue3;
                    }
                }
            }
            
            .product-info-price {
                .price-label {
                    display: none !important;
                }
                
                .price-box {
                    .special-price { 
                        .price-wrapper {
                            display: inherit !important;
                        }
                    }
                    
                    &.price-final_price > *:nth-child(2) {
                        .lib-font-size(20);
                        position: relative;
                        top: -3px;
                    }
                } 
            }
            
            .product-add-form {
                width: 100%;
                padding: 0;
                
                .box-tocart {
                    .qty {
                        margin: 0 10px 0 0;
                        
                        .label {
                            display: none;
                        }
                        
                        input#qty {
                            float: inherit;
                            width: 100px;
                            height: 50px;
                            padding: 0;
                            border-radius: @button__border-radius-theme;
                            border: 1px solid;
                        }
                    }
                    
                    .actions {
                        display: flex;
                        align-items: center;
                        .tocart {
                            margin: 0;
                            border-radius: @button__border-radius-theme;
                            width: auto;
                            padding: 14px 40px;

                            span {
                                text-transform: none;
                            }
                        }
                        
                        .product-addto-links {
                            .towishlist {
                                border: 1px solid @color-gray_light;
                                background: @color-gray80;
                                width: 50px;
                                height: 50px;
                                border-radius: 100%;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                margin-left: 20px;

                                &:hover {
                                    border: 1px solid @color-blue1;
                                }
                                
                                &:before {
                                    content: ' ';
                                    background-image: url('@{baseDir}images/wishlist.svg');
                                    background-size: 100%;
                                    background-repeat: no-repeat;
                                    width: 30px;
                                    height: 30px;
                                    display: inline-block;
                                }
                                
                                span {
                                    display: none;
                                }
                            }

                            .split.wishlist{
                                border: 1px solid @color-gray_light;
                                background: @color-gray80;
                                width: 50px;
                                height: 50px;
                                border-radius: 100%;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                margin: 0 20px;
                                
                                .action.split span{
                                    display: none;
                                }

                                .items{
                                    &:before{
                                        left: 85px;
                                    }

                                    &:after{
                                        left: 84px;
                                    }
                                }
                            }
                        }
                        
                    }
                }
            }
        }

        .gallery-placeholder {
            .fotorama__nav__shaft {
                .fotorama__thumb-border {
                    border-radius: @button__border-radius;
                    border: 1px solid @color-gray43;
                }

                .fotorama__thumb {
                    border-radius: @button__border-radius;
                    cursor: pointer;

                    &:hover {
                        opacity: .8;
                    }
                }

            }
        }

        .block.related, .block.upsell {
            .title strong {
                color: @color-blue1;
            }

            .block-actions {
                button span {
                    color: @color-blue1;
                }
            }
        }
        
        .product.info.detailed {
            float: left;
            width: 100%;
            margin-top: 60px;
        }
    }
}
       
// Breakpoints
// @screen__xxs: 320px;
// @screen__xs: 480px;
// @screen__s: 640px;
// @screen__m: 768px;
// @screen__l: 1024px;
// @screen__xl: 1440px;

//
// Desktop
// ______________________________________________
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {

    .cms-home {
        #maincontent {
            padding-top: 110px;
        }
    }

    #maincontent {
        &.page-main-full-width {
            padding-left: 0;
            padding-right: 0;
        }
    }

    .catalog-product-view {
        .block.related, .block.upsell {
            float: left;
            width: 100%;
    
            .title {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
    
                &::before {
                    content: '.';
                    color: transparent;
                    border-top: 1px solid @color-blue1;
                    width: 90%;
                    position: absolute;
                    margin: 0 auto;
                    left: 0;
                    right: 0;
                    height: 1px;
                }
    
                strong {
                    background-color: @color-white;
                    font-size: @h1__font-size;
                    text-transform: uppercase;
                    z-index: 1;
                    padding: 0 20px;
                }
            }

            .products-grid .item {
                margin-left: 20px;
            }
        }
    
        .product.info.detailed {    
            .data.items {
                text-align: center;

                .item.title {
                    display: inline-block;
                    float: none;
                    margin: 0 30px 0 0;
    
                    &.active {
    
                        .switch {
                            background-color: @color-white;
                            color: @color-black;
                            border-color: @color-gray-middle5;
                        }
                    }
    
                    .switch {
                        .lib-font-size(20);
                        border: 1px solid @color-blue1;
                        border-radius: @button__border-radius-theme;
                        color: @color-white;
                        background-color: @color-blue1;
                        font-weight: @font-weight__heavier;
                        padding: 1px 25px 1px 25px;
                    }
                }
    
                .item.content {
                    text-align: initial;
                    border: none;
                    border-top: 1px solid @color-blue1;
                    position: relative;
                    top: -19px;
                    padding-top: 80px;
                }
            }
        }
    }
}

//
//  Mobile @screen__s
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {

    .page-wrapper .page-header .header.content .block-search .block-content .amsearch-wrapper-input {
        width: 100% !important;
    }

    .catalog-product-view{
        .product-info-main {
            margin-top: 15px;

            .page-title {
                font-weight: @font-weight__bold;
                margin-bottom: 1rem;
                color: @color-blue1;
            }

            .product-reviews-summary {
                float: inherit;
                margin-bottom: 20px;

                .rating-summary {
                    margin: 0px;

                    .rating-result > span:before {
                        color: @color-blue3;
                    }
                }
            }

            .product-info-price {
                .price-label {
                    display: none !important;
                }

                .price-box {
                    .special-price {
                        .price-wrapper {
                            display: inherit !important;
                        }
                    }
                    
                    &.price-final_price > *:nth-child(2) {
                        .lib-font-size(20);
                        position: relative;
                        top: -3px;
                    }
                } 
            }

            .product-options-bottom {
                .box-tocart {
                    .qty input#qty {
                        width: 70px;
                        margin-right: 0;
                    }

                    .actions .tocart {
                        .lib-font-size(14);
                        padding: 14px;
                    }
                }
            }
        }
    }

    .page-footer .footer.content {
        margin: 0 @indent__base;

        .custom-newsletter .footer-newsletter-bottom ul li {
            margin: 0 5px 0;
            padding-right: @indent__s;

            a {
                .lib-font-size(12);
            }
        }
    }
}

//
//  Mobile @screen__m
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {

    .sections.nav-sections {
        .nav-sections-item-content {
            margin-top: 70px;
            padding: 0;

            .item-submenu {
                padding: 0;
            }

            .opener {
                background-color: transparent;

                &:before {
                    .lib-font-size(20);
                    content: '\e622';
                }
            }

            .ninjamenus-toggle-active > .opener:before {
                content: '\e621';
            }

            a {
                color: @color-black;
                line-height: 50px;
                padding: 0 15px;
            }
        }
 
        .switcher {
            padding: 15px;

            .options {
                width: 100%;

                .switcher-trigger {
                    display: flex;

                    &:after {
                        .lib-font-size(20) !important;
                        position: absolute;
                        right: 0;
                        top: 0;
                    }
                    
                    strong {
                        width: 100%;
                        font-weight: @font-weight__bold;

                        &:after{
                            display: none;
                        }
                    }
                }

                ul.dropdown {
                    position: inherit;
                    width: 100%;
                    border: 0;
                    background: transparent;
                    box-shadow: none;
                    padding: 0;
                    margin: 0;

                    &:before, &:after {
                        border: none;
                    }
        
                    li {
                        a {
                            padding: 0;
                            font-weight: @font-style__base;
                        }
                    }
                }
            }
        }
    }

    .cms-home {
        .marcas {
            flex-wrap: wrap;
        }

        .info-home ul {
            flex-direction: column;

            li {
                padding: 15px 0;

                &:after {
                    display: none;
                }
            }
        }
    }

    .page-wrapper {
        .page-header {
            .panel.wrapper {
                .header.panel {
                    .widget-header-top-msg {
                        float: inherit;
                    } 
                }
            }

            .header.content {
                .custom.link.wishlist {
                    top: 6px;
                }

                .minicart-wrapper {
                    top: 6px;
                }

                .block-search {
                    .block-content {
                        #search {
                            top: -6px;
                            border-bottom: none;
                            max-width: initial;
                        }

                        .label {
                            top: -6px;
                        }
                    }
                }
            }
        }
    } 

    .page-footer .footer.content {
        .custom-newsletter-title, .block.newsletter {
            width: 100%;
            padding: 0;
        }

        .links {
            width: 100%;
            .footer-links-container {
                align-items: center;
    
                .footer-information {
                    align-items: center;
                }
            }
        }
    }
    
    #maincontent {
        padding-top: 90px;
    }

    .catalog-product-view {
        .product-info-main {
            .page-title {
                font-weight: @font-weight__bold;
                margin-bottom: 1rem;
                color: @color-blue1;
            }

            .product-reviews-summary {
                float: inherit;
                margin-bottom: 20px;

                .rating-summary {
                    margin: 0px;

                    .rating-result > span:before {
                        color: @color-blue3;
                    }
                }
            }

            .product-info-price {
                .price-label {
                    display: none !important;
                }

                .price-box {
                    .special-price {
                        .price-wrapper {
                            display: inherit !important;
                        }
                    }

                    &.price-final_price > *:nth-child(2) {
                        .lib-font-size(20);
                        position: relative;
                        top: -3px;
                    }
                } 
            }
        }
    }
}

//GO TO TOP
#mfbacktop {
    cursor: pointer;
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 98;

    span {
        &:before {
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            content: ' ';
            background-image: url('@{baseDir}images/gotop.svg');
            background-size: 100%;
            background-repeat: no-repeat;
            width: 50px;
            height: 50px;
            display: inline-block;
            font-weight: @font-style__base;
            overflow: hidden;
            text-align: center;
        }
    }
}