// /**
//  * Copyright © Linets, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */
//
// Linets Theme
// ______________________________________________

// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Color variables
//  _____________________________________________

@color-blue-dodger: #008bdb;
@color-black_dark: #333333;

@color-white: #fff;
@color-black: #000;

@color-darkie-gray: #8a837f;
@color-gray19: #3f3f3f;
@color-gray20: #333;
@color-gray34: #575757;
@color-gray37: #5e5e5e;
@color-gray40: #666;
@color-gray43: #6d6d6d;
@color-gray46: #757575;
@color-gray52: #858585;
@color-gray55: #8c8c8c;
@color-gray56: #8f8f8f;
@color-gray60: #999;
@color-gray62: #9e9e9e;
@color-gray64: #a3a3a3;
@color-gray76: #c2c2c2;
@color-gray78: #c7c7c7;
@color-gray79: #c9c9c9;
@color-gray80: #F6F6F8;
@color-gray82: #d1d1d1;
@color-gray83: #d4d4d4;
@color-gray89: #e3e3e3;
@color-gray90: #e5e5e5;
@color-gray91: #e8e8e8;
@color-gray92: #ebebeb;
@color-gray94: #f0f0f0;
@color-gray95: #f2f2f2;
@color-gray96: #fafafa;
@color-gray_light: #cccccc;
@color-lighter-grayish: #cacaca;
@color-very-dark-gray: #666;
@color-white-smoke: #f5f5f5;
@color-white-dark-smoke: #efefef;
@color-white-fog: #f8f8f8;

@color-gray-light0: #f6f6f6;
@color-gray-light01: #F3F3F3;
@color-gray-light1: #e5efe5;
@color-gray-light2: #bbb;
@color-gray-light3: #aeaeae;
@color-gray-light4: #cecece;
@color-gray-light5: #c1c1c1;
@color-gray-light6: #c5c5c5;

@color-gray-middle1: #e4e4e4;
@color-gray-middle2: #c6c6c6;
@color-gray-middle3: #7e807e;
@color-gray-middle4: #6e716e;
@color-gray-middle5: #707070;

@color-gray-darken0: #eee;
@color-gray-darken1: #e2e2e2;
@color-gray-darken2: #cdcdcd;
@color-gray-darken3: #3F3F3F;
@color-gray-darken4: #494949;

@color-red9: #ff0101;
@color-red10: #e02b27;
@color-red11: #b30000;
@color-red12: #d10029;

@color-orange-red1: #ff5501;
@color-orange-red2: #ff5601; // Legacy orange
@color-orange-red3: #ff5700; // Legacy orange
@color-orange-red4: #fc5e10; // Legacy orange

@color-dark-green1: #006400;

@color-blue1: #6696cc;
@color-blue2: #006bb4;
@color-blue3: #4a80f2;
@color-sky-blue1: #68a8e0;

@color-pink1: #fae5e5;
@color-dark-pink1: #800080; // Legacy pink

@color-brownie: #514943;
@color-brownie-vanilla: #736963;
@color-brownie1: #6f4400;
@color-brownie-light1: #c07600;

@color-yellow-light1: #fdf0d5;
@color-yellow-light2: #ffee9c;
@color-yellow-light3: #d6ca8e;
@color-yellow1: #ff0;

//
//  Color nesting
//  ---------------------------------------------

@theme__color__primary: @color-blue1;
@theme__color__primary-alt: @theme__color__primary;
@theme__color__secondary: @color-black;

@primary__color: @color-blue1;
@primary__color__dark: darken(@primary__color, 35%); // #000
@primary__color__darker: darken(@primary__color, 13.5%); // #111
@primary__color__lighter: lighten(@primary__color, 29%); // #7d7d7d
@primary__color__light: lighten(@primary__color, 45%); // #a6a6a6

@secondary__color:  @color-black_dark;
@secondary__color__light: lighten(@secondary__color, 5%);

@page__background-color: @color-white;
@panel__background-color: darken(@page__background-color, 6%);

@active__color: @theme__color__secondary;
@error__color: @color-red10;


//
//  Typography
//  ---------------------------------------------

//  Fonts
@font-family-name__base: 'Open Sans';
@font-family__base: @font-family-name__base, @font-family__sans-serif;

//  Colors nesting
@page__background-color: @color-white;

//
//  Icons
//  ---------------------------------------------

@icon-success: '\e60e';
@icon-error: '\e61f';
@icon-edit: '\e601';
@icon-print: '\e624';
@icon-star-empty: '\e625';
@icon-download: '\e626';
@icon-private: '\e629';
@icon-present: '\e62a';
@icon-gift-registry: '\e62b';

@icon-calendar__font-size: 23px;

//
//  Sidebar
//  ---------------------------------------------

@sidebar__background-color: @color-white-smoke; // Used in cart sidebar, Checkout sidebar, Tier Prices, My account navigation, Rating block background

//
//  Sidebar blocks
//  ---------------------------------------------

@block-items__counter__color: @color-gray43;


//
//  Buttons
//  ---------------------------------------------
@button__border-radius: 5px;
@button__border-radius-theme: 50px;


//
//  Typography variables
//  _____________________________________________

//
//  Fonts
//  ---------------------------------------------

//  Path
@icons__font-path: "@{baseDir}fonts/Blank-Theme-Icons/Blank-Theme-Icons";

//  Names
@icons__font-name: 'icons-blank-theme'; // ToDo UI: we need to rename (it shouldn't use blank theme name) or move icon fonts to blank theme

//  Font families
@font-family__sans-serif: 'Helvetica Neue', Helvetica, Arial, sans-serif;
@font-family__serif: Georgia, 'Times New Roman', Times, serif;
@font-family__monospace: Menlo, Monaco, Consolas, 'Courier New', monospace;

@font-family__base: @font-family__sans-serif;

//  Sizes
@root__font-size: 62.5%; // Defines ratio between root font size and base font size, 1rem = 10px
@font-size-ratio__base: 1.4; // Defines ratio of the root font-size to the base font-size

@font-size-unit: rem; // The unit to which most typography values will be converted by default
@font-size-unit-ratio: unit(@root__font-size * 16/100); // Ratio of the root font-size to the font-size unit
@font-size-unit-convert: true; // Controls whether font-size values are converted to the specified font-size unit

@font-size__base: unit(@font-size-unit-ratio * @font-size-ratio__base, px); // Base font size value in <b>px</b>
@font-size__xl: ceil(1.5 * @font-size__base); // 21px
@font-size__l: ceil(1.25 * @font-size__base); // 18px
@font-size__s: ceil(.85 * @font-size__base); // 12px
@font-size__xs: floor(.75 * @font-size__base); // 11px

//  Weights
@font-weight__hairline: 100;
@font-weight__extralight: 200;
@font-weight__light: 300;
@font-weight__regular: 400;
@font-weight__heavier: 500;
@font-weight__semibold: 600;
@font-weight__bold: 700;
@font-weight__extrabold: 800;
@font-weight__heavy: 900;

//  Styles
@font-style__base: normal;
@font-style__emphasis: italic;

//  Line heights
@line-height__base: 1.428571429;
@line-height__computed: floor(@font-size__base * @line-height__base);
@line-height__xl: 1.7;
@line-height__l: 1.5;
@line-height__s: 1.33;

//  Colors
@text__color: @color-black;
@text__color__intense: @primary__color__darker;
@text__color__muted: @primary__color__lighter;

//
//  Indents
//  ---------------------------------------------

@indent__base: @line-height__computed; // 20px
@indent__xl: @indent__base * 2; // 40px
@indent__l: @indent__base * 1.5; // 30px
@indent__m: @indent__base * 1.25; // 25px
@indent__s: @indent__base / 2; // 10px
@indent__xs: @indent__base / 4; // 5px

//
//  Borders
//  ---------------------------------------------

@border-color__base: darken(@page__background-color, 18%);
@border-width__base: 1px;

//
//  Links
//  ---------------------------------------------

@link__color: @theme__color__primary;
@link__text-decoration: none;

@link__visited__color: @link__color;
@link__visited__text-decoration: none;

@link__hover__color: @theme__color__primary-alt;
@link__hover__text-decoration: underline;

@link__active__color: @active__color;
@link__active__text-decoration: underline;

//
//  Focus
//  ---------------------------------------------

@focus__color: @color-sky-blue1;
@focus__box-shadow: 0 0 3px 1px @focus__color;

//
//  Lists
//  ---------------------------------------------

@list__color__base: false;
@list__font-size__base: false;
@list__margin-top: 0;
@list__margin-bottom: @indent__m;

@list-item__margin-top: 0;
@list-item__margin-bottom: @indent__s;

@dl__margin-top: 0;
@dl__margin-bottom: @indent__base;

@dt__margin-top: 0;
@dt__margin-bottom: @indent__xs;
@dt__font-weight: @font-weight__bold;

@dd__margin-top: 0;
@dd__margin-bottom: @indent__s;

//
//  Paragraphs
//  ---------------------------------------------

@p__margin-top: 0;
@p__margin-bottom: @indent__s;

//
//  Headings
//  ---------------------------------------------

@heading__font-family__base: false;
@heading__font-weight__base: @font-weight__light;
@heading__line-height__base: 1.1;
@heading__color__base: false;
@heading__font-style__base: false;
@heading__margin-top__base: @indent__base;
@heading__margin-bottom__base: @indent__base;

@h1__font-size: ceil((@font-size__base * 1.85)); // 26px
@h1__font-color: @heading__color__base;
@h1__font-family: @heading__font-family__base;
@h1__font-weight: @heading__font-weight__base;
@h1__font-style: @heading__font-style__base;
@h1__line-height: @heading__line-height__base;
@h1__margin-top: 0;
@h1__margin-bottom: @heading__margin-bottom__base;
@h1__font-size-desktop: ceil((@font-size__base * 2.85)); // 40px

@h2__font-size: ceil((@font-size__base * 1.85)); // 26px
@h2__font-color: @heading__color__base;
@h2__font-family: @heading__font-family__base;
@h2__font-weight: @heading__font-weight__base;
@h2__font-style: @heading__font-style__base;
@h2__line-height: @heading__line-height__base;
@h2__margin-top: @indent__m;
@h2__margin-bottom: @heading__margin-bottom__base;

@h3__font-size: ceil((@font-size__base * 1.28)); // 18px
@h3__font-color: @heading__color__base;
@h3__font-family: @heading__font-family__base;
@h3__font-weight: @heading__font-weight__base;
@h3__font-style: @heading__font-style__base;
@h3__line-height: @heading__line-height__base;
@h3__margin-top: @indent__base * .75;
@h3__margin-bottom: @indent__s;

@h4__font-size: @font-size__base; // 14px
@h4__font-color: @heading__color__base;
@h4__font-family: @heading__font-family__base;
@h4__font-weight: @font-weight__bold;
@h4__font-style: @heading__font-style__base;
@h4__line-height: @heading__line-height__base;
@h4__margin-top: @heading__margin-top__base;
@h4__margin-bottom: @heading__margin-bottom__base;

@h5__font-size: ceil((@font-size__base * .85)); // 12px
@h5__font-color: @heading__color__base;
@h5__font-family: @heading__font-family__base;
@h5__font-weight: @font-weight__bold;
@h5__font-style: @heading__font-style__base;
@h5__line-height: @heading__line-height__base;
@h5__margin-top: @heading__margin-top__base;
@h5__margin-bottom: @heading__margin-bottom__base;

@h6__font-size: ceil((@font-size__base * .7)); // 10px
@h6__font-color: @heading__color__base;
@h6__font-family: @heading__font-family__base;
@h6__font-weight: @font-weight__bold;
@h6__font-style: @heading__font-style__base;
@h6__line-height: @heading__line-height__base;
@h6__margin-top: @heading__margin-top__base;
@h6__margin-bottom: @heading__margin-bottom__base;

@heading__small-color: @primary__color;
@heading__small-line-height: 1;
@heading__small-size: (@font-size__xs/@font-size__base) * 100%;

//  Code blocks
@code__background-color: @panel__background-color;
@code__color: @primary__color__darker;
@code__font-size: @font-size__s;
@code__padding: 2px 4px;

@pre__background-color: @panel__background-color;
@pre__border-color: @border-color__base;
@pre__border-width: @border-width__base;
@pre__color: @primary__color__darker;

@kbd__background-color: @panel__background-color;
@kbd__color: @primary__color__darker;

//  Blockquote
@blockquote__border-color: @border-color__base;
@blockquote__border-width: 0;
@blockquote__content-before: '\2014 \00A0';
@blockquote__font-size: @font-size__base;
@blockquote__font-style: @font-style__emphasis;
@blockquote__margin: 0 0 @indent__base @indent__xl;
@blockquote__padding: 0;

@blockquote-small__color: @primary__color;
@blockquote-small__font-size: @font-size__xs;

@cite__font-style: @font-style__base;

//  Misc
@hr__border-color: @border-color__base;
@hr__border-style: solid;
@hr__border-width: @border-width__base;

@mark__color: @primary__color__dark;
@mark__background-color: @panel__background-color;

@abbr__border-color: @border-color__base;

//  Disable filters output in css
@disable-filters: false;



//
//  Layout variables
//  _____________________________________________

//  Widths
@layout__width: ''; // for the fixed width layout
@layout__max-width: 1280px;
@layout-indent__width: 20px;
@layout__width-xs-indent: 15px;

//  Classnames defining different layouts
@layout-class-1column: page-layout-1column;
@layout-class-2columns__left: page-layout-2columns-left;
@layout-class-2columns__right: page-layout-2columns-right;
@layout-class-3columns: page-layout-3columns;

//  Variables used for layout grid
@total-columns: 12;
@gutter-width: 0;

//  Variables for layout columns
@layout-column__width: @total-columns;
@layout-column__sidebar-width: 2;
@layout-column__left-width: @layout-column__sidebar-width;
@layout-column__right-width: @layout-column__sidebar-width;

//  Variables for layout columns depending on layout used
@layout-column-main__width-1: 100%;
@layout-column-main__width-2-left: @layout-column__width - @layout-column__left-width;
@layout-column-main__width-2-right: @layout-column__width - @layout-column__right-width;
@layout-column-main__width-3: @layout-column__width - @layout-column__left-width - @layout-column__right-width;

//  Checkout columns width
@layout-column-checkout__width-left: 3;
@layout-column-checkout__width-main: @layout-column__width - @layout-column-checkout__width-left;


