// /**
//  * Copyright © Linets, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */
//
// Linets Theme
// ______________________________________________

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .giftcard-account {
        .please-wait {
            display: none;
        }

        .form-giftcard-redeem {
            .giftcard.info {
                margin-bottom: @indent__l;
            }

            .fieldset {
                &:extend(.abs-forms-margin-small all);
            }
        }
    }

    .opc-wrapper {
        .form-giftcard-account {
            max-width: 500px;

            .field {
                margin: 0 0 @indent__base;

                .label {
                    &:extend(.abs-visually-hidden all);
                }
            }
        }

        .giftcard-account-info {
            margin: 0 0 @indent__base;

            .giftcard-account-number {
                margin: 0 0 @indent__s;
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .form-giftcard-redeem {
        &:extend(.abs-forms-general-desktop all);
    }

    .block-balance-giftcard {
        .block-content {
            &:extend(.abs-account-block-font-size all);
        }
    }
}
