// /**
//  * Copyright © Linets, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */
//
// Linets Theme
// ______________________________________________


@mobile-cart-padding: 15px;
@cart-price-color: @color-gray40;
@cart-item-cell-padding-top: @indent__base;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    //
    //  Shopping cart
    //  ---------------------------------------------

    .checkout-cart-index {
        .page-main {
            padding-left: 0;
            padding-right: 0;
        }

        .page-title-wrapper {
            padding-left: @layout__width-xs-indent;
            padding-right: @layout__width-xs-indent;
        }
        
        .linets-cart-title {
            margin-bottom: @indent__base;

            .title {
                font-size: @indent__l;
                font-weight: @font-weight__semibold; 
            }
        }

        .product-reviews-summary {
            display: none;
        }
    }

    //  Cart container
    .cart-container {
        display: grid;
        grid-template-columns: 35% 35% 30%;
        grid-template-rows: max-content auto auto;

        .form-cart {
            grid-column: ~"1 / 3";
            grid-row: ~"1 / 2";
            padding: 0 !important;
            width: 100% !important;
            &:extend(.abs-shopping-cart-items all);
        }
        
        #gift-options-cart {
            margin-right: 2%;
            background-color: @color-gray-light0;
            padding: 0 20px;
            grid-column: ~"1 / 2";
            grid-row: ~"2 / 3";
        }
    }

    //  Summary block
    .cart-summary {
        &:extend(.abs-add-box-sizing all);
        margin-bottom: @indent__m;
        padding: @border-width__base 0 @indent__m;

        > .title {
            .lib-font-size(24);
            display: none;
            font-weight: @font-weight__light;
            margin: 12px 0;
        }

        .block {
            form:not(:last-of-type) {
                .fieldset {
                    margin: 0 0 @indent__m;
                }
            }

            .price {
                font-weight: @font-weight__bold;
            }

            .field {
                margin: 0 0 16px;
            }

            .actions-toolbar {
                > .primary {
                    text-align: left;

                    .action.primary {
                        &:extend(.abs-revert-to-action-secondary all);
                        width: auto;
                    }
                }
            }

            .fieldset.estimate {
                > .legend,
                > .legend + br {
                    &:extend(.abs-no-display all);
                }
            }

            &:extend(.abs-cart-block all);
            .title {
                strong {
                    .lib-font-size(14);
                    font-weight: @font-weight__semibold;
                }
            }

            .item-options {
                margin: 0 0 16px;

                .field {
                    .radio {
                        float: left;
                        margin-top: 4px;
                    }

                    .radio {
                        + .label {
                            display: block;
                            margin: 0;
                            overflow: hidden;
                        }
                    }
                }
            }
        }

        .page-main & {
            .block {
                margin-bottom: 0;
            }
        }

        .checkout-methods-items {
            &:extend(.abs-reset-list all);
            margin: @indent__base 0 0;
            padding: 0 @mobile-cart-padding;
            text-align: center;

            .action.primary.checkout {
                &:extend(.abs-button-l all);
                width: 100%;
            }

            .item {
                margin-bottom: @indent__m;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        .message {
            padding-left: @indent__base;

            > *:first-child:before {
                display: none;
            }
        }

        &:extend(.abs-adjustment-incl-excl-tax all);
    }

    #discount-coupon-form {
        .primary {
            .action {
                background-color: @primary__color;
            }
        }
    }

    //  Totals block
    .cart-totals {
        &:extend(.abs-sidebar-totals all);
        tbody,
        tfoot {
            .mark {
                text-align: left;
            }
        }

        .discount.coupon {
            display: none;
        }
    }

    //  Products table
    .cart {
        &.table-wrapper {
            .cart {
                thead {
                    tr{
                        th.col {
                            border-top: @border-width__base solid @primary__color;
                            border-bottom: @border-width__base solid @primary__color;
                            padding-bottom: @indent__s;
                            padding-top: @indent__s;
                            text-align: center;
                            font-weight: @font-weight__semibold;
                            text-transform: uppercase;

                            &.item{                                
                                -moz-border-top-left-radius: @button__border-radius;
                                -moz-border-bottom-left-radius: @button__border-radius;
                                -webkit-border-top-left-radius: @button__border-radius;
                                -webkit-border-bottom-left-radius: @button__border-radius;
                                border-top-left-radius: @button__border-radius;
                                border-bottom-left-radius: @button__border-radius;
                                border-left: @border-width__base solid @primary__color;
                                padding-left: 35px;
                                text-align: left;
                            }
                        }
                    } 
                }

                tbody {
                    td {
                        border: 0;
                    }
                }

                > .item {
                    border-bottom: @border-width__base solid @primary__color;
                    position: relative;

                    .action-towishlist {
                        display: none;
                    }

                    .price, .subtotal, .qty {                                
                        padding-top: 3px !important;
                        font-size: 15px;
                    }

                    .col {
                        &.delete {
                            a {
                                &:before {
                                    -webkit-font-smoothing: antialiased;
                                    -moz-osx-font-smoothing: grayscale;
                                    content: ' ';
                                    background-size: 100%;
                                    background-repeat: no-repeat;
                                    width: @indent__l;
                                    height: @indent__l;
                                    position: relative;
                                    top: -3px;
                                }
                            }

                            .action-edit {
                                &:before {
                                    background-image: url('@{baseDir}images/edit.svg');
                                }
                            }

                            .action-delete {
                                &:before {
                                    background-image: url('@{baseDir}images/delete.svg');
                                }
                            }
                        }
                    }
                }
            }

            .col {
                padding-top: 15px;

                &.price,
                &.subtotal,
                &.delete,
                &.msrp {
                    text-align: center !important;
                    vertical-align: middle;
                    &:extend(.abs-incl-excl-tax all);
                }
                
                
                &.qty {
                    text-align: center !important;
                    vertical-align: middle;

                    .label {
                        &:extend(.abs-visually-hidden all);
                    }

                    .input-text {
                        margin-top: -7px;
                        border: none;
                        height: 36px;
                        width: 42px;
                        border-radius: 0;
                        border-bottom: 2px solid @color-white;
                        text-align: center;
                        transition: border-color 0.5s;

                        &:hover {
                            border-bottom: 2px solid @secondary__color;
                        }
                    }

                    .item-update {
                        display: inline-block;

                        .update {
                            background: none;
                            border: none;
                            margin: 0;
                            padding: 0;

                            span {
                                &:before {
                                    -webkit-font-smoothing: antialiased;
                                    -moz-osx-font-smoothing: grayscale;
                                    content: ' ';
                                    background-image: url('@{baseDir}images/update.svg');
                                    background-size: 100%;
                                    background-repeat: no-repeat;
                                    width: 30px;
                                    height: 30px;
                                    display: inline-block;
                                    font-weight: @font-weight__regular;
                                    overflow: hidden;
                                    text-align: center;
                                    margin-left: @indent__xs;
                                }
                            }
                        }
                    }
                }

                > .price {
                    .lib-css(color, @primary__color__lighter);
                    .lib-font-size(18);
                    font-weight: @font-weight__bold;
                }
            }

            .item-actions {

                td {
                    padding-bottom: 0;
                    padding-left: @mobile-cart-padding;
                    padding-right: @mobile-cart-padding;
                    white-space: normal;
                }
            }

            .item {

                .col.item {
                    display: block;
                    min-height: 75px;
                    padding: 15px @mobile-cart-padding @indent__s 90px;
                    position: relative;
                }
            }

            .actions-toolbar {
                &:extend(.abs-add-clearfix all);
                display: flex;
                flex-flow: column;
                justify-content: space-evenly;
                align-items: center;
                min-height: @indent__base;
                padding-bottom: 0px;
                position: relative;
                max-width: 30px;

                > .action-edit,
                > .action-delete {
                    position: initial;
                    right: 0px;
                    top: 0;
                    margin-right: 0;
                    margin-bottom: 5px;
                    .lib-icon-font(
                    @icon-edit,
                    @_icon-font-size: 18px,
                    @_icon-font-line-height: @indent__base,
                    @_icon-font-text-hide: true,
                    @_icon-font-color: @minicart-icons-color,
                    @_icon-font-color-hover: @primary__color,
                    @_icon-font-color-active: @minicart-icons-color
                    );
                }

                > .action-delete {
                    &:extend(.abs-action-button-as-link all);
                    right: 0;
                    .lib-icon-font-symbol(
                        @_icon-font-content: @icon-trash
                    );
                }
            }

            .action {
                margin-right: @indent__m;

                &:last-child {
                    margin-right: 0;
                }

                &.help.map {
                    &:extend(.abs-action-button-as-link all);
                    font-weight: @font-weight__regular;
                }
            }

            .product {
                &-item-photo {
                    display: block;
                    left: @mobile-cart-padding;
                    max-width: 65px;
                    padding: 0;
                    position: absolute;
                    top: 15px;
                    width: 100%;
                }

                &-item-name {
                    .lib-font-size(18);
                    display: block;
                    margin: -3px 0 @indent__xs;
                }
            }

            .gift-registry-name-label {
                &:after {
                    content: ':';
                }
            }

            //  Product options
            .item-options {
                margin-bottom: 0;
                &:extend(.abs-product-options-list all);
                &:extend(.abs-add-clearfix all);
            }

            .product-item-name + .item-options {
                margin-top: @indent__base;
            }

            .cart-tax-total {
                &:extend(.abs-tax-total all);
                &-expanded {
                    &:extend(.abs-tax-total-expanded all);
                }
            }

            .product-image-wrapper {
                &:extend(.abs-reset-image-wrapper all);
            }

            .action.configure {
                display: inline-block;
                margin: @indent__s 0 0;
            }

            .item .message {
                margin-top: @indent__base;
            }
        }
    }

    //  Products pager
    .cart-products-toolbar {
        .toolbar-amount {
            left: inherit;
            margin: @indent__m 0 15px;
            padding: 0;
            position: relative;
            text-align: center;
            top: inherit;
        }
    }

    .cart-products-toolbar-top {
        border-bottom: @border-width__base solid @border-color__base;
    }

    //  Discount
    .cart-discount {
        float: none;
        grid-column: ~"2 / 2";
        grid-row: 2;
        padding: 0 20px;
        width: 95% !important;
        background-color: @color-gray-light0;
        &:extend(.abs-discount-block all);

        .block {
            width: 100% !important;
            height: auto;

            > .title {
                .lib-css(border-bottom, @border-width__base solid @secondary__color) !important;
                cursor: auto !important;
                padding: 17px 0 @indent__s 0 !important;
                text-decoration: none;

                > strong {
                    .lib-css(color, @secondary__color);
                    .lib-css(font-weight, @font-weight__bold);
                }
                
                &::after {
                    display: none !important;
                }
            }

            .content {
                display: block !important;
                padding: 20px 0 20px !important;
            }

            .actions-toolbar {
                .primary {
                    .action {
                        background-color: @primary__color;
                    }
                }
            }
        }
    }

    //  Empty cart
    .cart-empty {
        padding-left: @layout__width-xs-indent;
        padding-right: @layout__width-xs-indent;
    }

    .cart-tax-info,
    .cart .cart-tax-info {
        + .cart-tax-total {
            display: block;
        }
    }

    .cart.table-wrapper,
    .order-items.table-wrapper {
        .col.price,
        .col.qty,
        .col.subtotal,
        .col.msrp {
            text-align: right;
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .cart {
        .table.items {
            .col.item,
            .item-actions td {
                &:extend(.abs-col-no-prefix all);
            }

            .col.qty {
                text-align: center;
            }

            tbody > tr > td:last-child {
                &:extend(.abs-no-border-bottom-top all);
            }
        }
    }
    .cart-totals {
        .totals {
            &:extend(.abs-sidebar-totals-mobile all);
        }
    }

    .cart.table-wrapper .cart > .item .price, .cart.table-wrapper .cart > .item .subtotal, .cart.table-wrapper .cart > .item .qty {
        padding-top: 0px !important;
        font-size: 15px;
    }

     
    .cart.table-wrapper {
        .items.data.table {
            .col.delete {
                width: 0;
                padding: 0;
                max-width: 0;
    
                .actions-toolbar {
                    max-width: 0px;
                    position: absolute;
                    top: 15px;
                    right: 15px;
                }
            }
        }
    }

    .cart-container {
        #gift-options-cart {
            grid-column: ~"1 / 3";
            margin-right: 0;
            margin-bottom: @indent__base;
        }

        .cart-discount {
            grid-column: ~"1 / 3";
            grid-row: 4;
            width: auto !important;

            .title {
                padding: 14px 0 10px 0 !important;
                
                #block-giftcard-heading {
                    font-size: 14px;
                    font-weight: @font-weight__regular;
                }
            }
        }

        .block {
            &.crosssell {
                grid-row: 5;
            }
        }
    }

    //  Summary block
    .cart-summary {
        .block.active > .title:after {
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            content: ' ';
            background-image: url('@{baseDir}images/chevron.png');
            background-size: 100%;
            background-repeat: no-repeat;
            width: 7px;
            height: @indent__base;
            margin-right: @indent__s;
            position: relative;
            top: 13px;
            float: right;
            transform: rotate(90deg);
        }

        .discount, .shipping {
            .content {
                background: @color-gray80;
                padding: @indent__base @indent__s;
                border-bottom: @border-width__base solid @primary__color;
            }

            .title {
                padding: @indent__base @indent__s !important;
                margin: 0;
                background: @color-gray80;
                border-bottom: @border-width__base solid @primary__color;
                cursor: pointer;

                &:after {
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                    content: ' ';
                    background-image: url('@{baseDir}images/chevron.png');
                    background-size: 100%;
                    background-repeat: no-repeat;
                    width: 7px;
                    height: @indent__base;
                    margin-right: @indent__s;
                    position: relative;
                    top: -2px;
                    float: right;
                    transform: rotate(90deg);
                }
                
                & strong {
                    font-weight: @font-weight__light;
                }
            }
        }

        .block {
            > .title {
                padding-left: 0;

                &:after {
                    right: 3px;
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    //  Cart container
    .cart-container {
        grid-template-columns: 50% 50%;
        grid-template-rows: max-content;

        .form-cart {
            .actions.main {
                text-align: center;
            }
        }
    }

    .cart-discount {
        grid-column: ~"2 / 3";
        grid-row: 3;
        width: 89% !important;

        .title {
            padding: 14px 0 10px 0 !important;

            #block-giftcard-heading {
                font-size: 14px;
                font-weight: @font-weight__regular;
            }
        }
    }

    .cart {
        &.table-wrapper {
            border-top: @border-width__base solid @border-color__base;
            thead {
                .col {
                    &.item,
                    &.qty,
                    &.price,
                    &.subtotal,
                    &.msrp {
                        display: none;
                    }
                }
            }

            .col {
                &.qty,
                &.price,
                &.subtotal,
                &.msrp {
                    box-sizing: border-box;
                    display: block;
                    float: left;
                    white-space: nowrap;
                    width: 33%;

                    &[data-th]:before {
                        content: attr(data-th);
                        display: block;
                        font-weight: @font-weight__semibold;
                        padding-bottom: @indent__s;
                    }
                }

                &.msrp {
                    white-space: normal;
                }
            }

            .item .col.item {
                padding-bottom: 0;
            }

            tbody > tr > td:last-child {
                border: 0;
            }
        }
    }

    .cart-totals {
        padding-left: @mobile-cart-padding;
        padding-right: @mobile-cart-padding;

        .table-wrapper {
            border-top: 0;
        }

        .totals {
            tbody > tr:not(:last-child) > td:last-child {
                border: 0;
            }
        }
    }

    .cart.table-wrapper,
    .order-items.table-wrapper {
        .col.price,
        .col.qty,
        .col.subtotal,
        .col.msrp {
            text-align: left;
        }
    }

    .cart.table-wrapper .cart > .item .price, .cart.table-wrapper .cart > .item .subtotal, .cart.table-wrapper .cart > .item .qty {
        padding-top: 0px !important;
        font-size: 15px;
    }

    .cart-container {
        .form-cart {
            grid-column: ~"1 / 3";
            grid-row: 2;
        }

        #gift-options-cart {
            grid-column: ~"1 / 2";
            grid-row: 3;
        }

        .block {
            &.crosssell {
                grid-column: ~"1 / 3";
                grid-row: 4;
            }
        }
    }
    
        
    //  Summary block
    .cart-summary {
        padding: 0px;
        width: 100%;
        grid-column: ~"1 / 3";
        grid-row: 1;

        .block.active > .title:after {
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            content: ' ';
            background-image: url('@{baseDir}images/chevron.png');
            background-size: 100%;
            background-repeat: no-repeat;
            width: 7px;
            height: @indent__base;
            margin-right: @indent__s;
            position: relative;
            top: 13px;
            float: right;
            transform: rotate(90deg);
        }

        .discount, .shipping {
            .content {
                background: @color-gray80;
                padding: @indent__base @indent__s;
                border-bottom: @border-width__base solid @primary__color;
            }
            .title {
                padding: @indent__base @indent__s !important;
                margin: 0;
                background: @color-gray80;
                border-bottom: @border-width__base solid @primary__color;
                cursor: pointer;
                &:after{
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                    content: ' ';
                    background-image: url('@{baseDir}images/chevron.png');
                    background-size: 100%;
                    background-repeat: no-repeat;
                    width: 7px;
                    height: @indent__base;
                    margin-right: @indent__s;
                    position: relative;
                    top: 13px;
                    float: right;
                    transform: rotate(90deg);
                }
                &
                strong {
                    font-weight: @font-weight__light;
                }
            }
        }

        .block {
            > .title {
                padding-left: 0;

                &:after {
                    right: 3px;
                }
            }
        }
    }

}

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    //  Cross sell
    .block {
        &.crosssell {
            grid-column: ~"1 / 3";
            grid-row: 3;
            padding: 0 !important;
            margin-top: @indent__base;
            max-width: 100% !important;
            width: 100% !important;

            .product-item-info {
                width: 200px;
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s) {
    .cart-container {
        .block.crosssell {
            .products-grid {
                .product-item-actions {
                    margin: 0 0 @indent__s;
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .checkout-cart-index {
        .page-main {
            padding-left: @layout__width-xs-indent;
            padding-right: @layout__width-xs-indent;
        }

        .page-title-wrapper {
            &:extend(.abs-revert-side-paddings all);
        }
    }

    //  Cart container
    .cart-container {
        &:extend(.abs-add-clearfix-desktop all);

        .form-cart {
            &:extend(.abs-shopping-cart-items-desktop all);

            .actions.main {
                text-align: right;
                .action.update{
                    background: @color-gray-darken3;
                }
            }
        }

        .widget {
            float: left;
            
            &.block {
                margin-bottom: @indent__base;
            }
        }
    }

    //  Summary block
    .cart-summary {
        grid-column: ~"3 / 4";
        grid-row: ~"1 / 4";
        height: fit-content;
        position: sticky;
        top: 127px !important; // overwrite automatic property of top
        border-left: 1px solid @primary__color;
        -webkit-box-shadow: 1px 0px 3px 0px @primary__color__lighter;
        -moz-box-shadow: 1px 0px 3px 0px @primary__color__lighter;
        box-shadow: 1px 0px 3px 0px @primary__color__lighter;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        
        > .title {
            font-size: 1.4rem;
            display: block;
            margin: 0;
            padding-bottom: @indent__s;
            padding-top: @indent__s;
            padding-left: @indent__base;
            font-weight: @font-weight__semibold;
            text-transform: uppercase;
        }

        .block.active > .title:after {
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            content: ' ';
            background-image: url('@{baseDir}images/chevron.png');
            background-size: 100%;
            background-repeat: no-repeat;
            width: 7px;
            height: @indent__base;
            margin-right: @indent__s;
            position: relative;
            top: 3px;
            float: right;
            transform: rotate(90deg);
        }
        
        .discount, .shipping, .cart-totals, .checkout-methods-items {
            padding: 0 @indent__base 0 @indent__base;
        }

        .discount, .shipping {
            .content{
                background: @color-white;
                padding: @indent__base @indent__s;
                border-bottom: @border-width__base solid @primary__color;
            }

            .title {
                padding: @indent__base @indent__s !important;
                margin: 0;
                background: @color-white;
                border-bottom: @border-width__base solid @primary__color;
                cursor: pointer;
                &:after{
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                    content: ' ';
                    background-image: url('@{baseDir}images/chevron.png');
                    background-size: 100%;
                    background-repeat: no-repeat;
                    width: 7px;
                    height: @indent__base;
                    margin-right: @indent__s;
                    position: relative;
                    top: -2px;
                    float: right;
                    transform: rotate(90deg);
                }
                &
                strong {
                    font-weight: @font-weight__regular;
                }
            }
        }
        

        .fieldset {
            .actions-toolbar {
                margin-left: 0;

                > .secondary {
                    float: none;
                }
            }
        }

        .block {
            > .title {
                padding-left: 0;

                &:after {
                    right: 3px;
                }
            }

            .content {
                &:extend(.abs-revert-side-paddings all);
            }

            .fieldset {
                .field {
                    .lib-form-field-type-revert(@_type: block);
                    margin: 0 0 @indent__s;
                }
            }
        }
    }

    //  Products tables
    .cart {
        &.table-wrapper {
            .items { // Google Chrome version 44.0.2403.107 m fix
                min-width: 100%;
                width: auto;
                border-collapse: separate;
            }

            tbody td {
                padding-top: @cart-item-cell-padding-top;
            }

            .item {
                .col.item {
                    padding: @cart-item-cell-padding-top 8px @indent__base 0;
                    max-width: fit-content;
                }
            }

            .item-actions td {
                padding: 0;
            }

            .product {
                &-item-photo {
                    display: table-cell;
                    max-width: 100%;
                    padding-right: @indent__base;
                    position: static;
                    vertical-align: top;
                    width: 1%;
                }

                &-item-details {
                    display: table-cell;
                    vertical-align: middle;
                    white-space: normal;
                    width: 99%;
                }
            }
        }
    }

    //  Products pager
    .cart-products-toolbar {
        margin: 2px 0 0;

        .toolbar-amount {
            line-height: @indent__l;
            margin: 0;
        }

        .pages {
            float: right;

            .item {
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    .cart.table-wrapper {
        .cart-products-toolbar {
            + .cart {
                thead {
                    tr {
                        th.col {
                            padding-bottom: @indent__s;
                            padding-top: @indent__s;
                        }
                    }
                }
            }
        }

        .cart {
            + .cart-products-toolbar {
                margin-top: @indent__m;
            }
        }
    }

    //  Discount
    .cart-discount {
        &:extend(.abs-discount-block-desktop all);
        .lib-layout-column(2, 1, @layout-column-checkout__width-main);
        border: 0;
        box-sizing: border-box;

        .block {
            .title {

                &:after {
                    display: inline;
                    margin-left: @indent__s;
                    position: static;
                }
            }

            &.discount {
                width: auto;
            }
        }
    }

    //  Empty cart
    .cart-empty {
        &:extend(.abs-revert-side-paddings all);
    }

    //  Cross sell
    .block {
        &.crosssell {
            .lib-layout-column(2, 1, @layout-column-checkout__width-main);
            &:extend(.abs-add-box-sizing-desktop all);
            padding: 0 4% 0 0;
            max-width: 70%;

            .products-grid .product-item {
                width: 100%/4;
            }
        }
    }
}
