// /**
//  * Copyright © Linets, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */
//
// Linets Theme
// ______________________________________________

//
//  Variables
//  _____________________________________________

@minicart__border-color: @color-gray80;
@minicart__padding-horizontal: @indent__base;

@minicart-qty__height: 24px;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    //
    //  Minicart
    //  ---------------------------------------------

    .block-minicart {
         
        #minicart-content-wrapper {
            height: 100%;
        }

        // height !important is because auto height applied
        .minicart-items-wrapper {
            height: 100% !important;
            order: 4;
            margin-right: -18px;
            background-color: @color-white;
        }

        .items-total {
            float: left;
            margin: 0 @indent__s;

            .count {
                font-weight: @font-weight__bold;
            }
        }

        .subtotal {
            margin: 0 @indent__s @indent__s;
            text-align: right;

            .label {
                &:extend(.abs-colon all);
            }
        }

        .amount {
            .price-wrapper {
                &:first-child {
                    .price {
                        .lib-font-size(32);
                        font-weight: @font-weight__bold;
                    }
                }
            }
        }

        .subtitle {
            display: none;

            &.empty {
                display: block;
                font-size: 14px;
                padding: @indent__l 0 @indent__base;
                text-align: center;
            }
        }

        dl {
            &.product.options.list {
                display: inline-block;
                vertical-align: top;
            }
        }

        .text {
            &.empty {
                text-align: center;
            }
        }

        .block-content {
            display: flex;
            flex-flow: column;
            padding: 0px 0px 20px 0px;
            background-color: #f6f6f6;
            height: 100%;

            .action-container {
                order: 6;
                padding: 0 20px;
                display: flex;
                flex-flow: wrap;

                > .actions {
                    margin-top: 10px;
                    flex: 45%;
                    margin-right: 10px;

                    > .secondary {
                        text-align: center;
                        &:extend(.abs-button-l all);
                        display: block;
                        width: 100%;
                        color: @color-white;
                    }

                    > .primary {
                        display: flex;

                        .action {
                            &.primary {
                                &:extend(.abs-button-l all);
                                display: block;
                                width: 100%;
                                color: @color-white;

                                &.viewcart {
                                    text-align: center;
                                    padding: 14px 34px;
                                }
                            }
                        }
                    }

                    .paypal-logo {
                        margin-top: 15px;
                        text-align: center;
                    }
                }
            }

            #btn-minicart-close {
                order: 1;
                right: 26px;
                top: 25px;
                
                &::before{
                    .lib-font-size(20);
                    .lib-line-height(20);
                }
            }

            .items-total {
                order: 2;
                font-size: @h3__font-size;
                font-weight: @font-weight__bold;
                background: @color-white;
                color: @color-gray20;
                margin: 0;
                padding: 20px 20px 10px 20px;
            }

            .subtotal {
                order: 5;
                text-align: left;
                margin-top: 20px;
                padding: 0 10px;
                color: @color-gray20;

                .label {
                    font-size: @font-size__l;
                    font-weight: @font-weight__bold;

                    // this display ":"
                    &::after {
                        display: none;
                    }
                }
            }

            .subtitle {
                order: 3;
                padding: 0 20px 10px;
                background: @color-white;

                &.empty {
                    display: flex !important;
                    justify-content: center;
                    align-items: center;
                    padding: 25px 55px;
                    height: 30px;
                    margin: 0;
                    font-weight: bold;
                    color: @color-gray20;
                    background: none;
                }
            }

            #minicart-widgets {
                order: 7;
                padding: 0 20px;
            }
        }

        .block-category-link,
        .block-product-link,
        .block-cms-link,
        .block-banners {
            margin: 15px 0 0;
            text-align: center;
        }
    }

    .minicart-wrapper {
        .lib-dropdown(
            @_toggle-selector: ~'.action.showcart',
            @_options-selector: ~'.block-minicart',
            @_dropdown-list-width: 320px,
            @_dropdown-list-position-right: -10px,
            @_dropdown-list-pointer-position: right,
            @_dropdown-list-pointer-position-left-right: 12px,
            @_dropdown-list-z-index: 101,
            @_dropdown-toggle-icon-content: @icon-cart,
            @_dropdown-toggle-active-icon-content: @icon-cart,
            @_dropdown-list-item-padding: false,
            @_dropdown-list-item-hover: false,
            @_icon-font-position: before,
            @_icon-font-size: 22px,
            @_icon-font-line-height: 28px,
            @_icon-font-color: @minicart-icons-color,
            @_icon-font-color-hover: @minicart-icons-color-hover,
            @_icon-font-color-active: @minicart-icons-color
        );
        float: right;

        .block-minicart {
            .lib-css(padding, 0);

            .block-title {
                display: none;
            }
        }

        .product {
            .actions {
                position: absolute;
                top: 0;
                right: 32px;
                display: flex;
                flex-flow: column;
                align-items: center;
                justify-content: space-around;
                height: 80px;

                > .primary,
                > .secondary {
                    display: inline;

                    &:not(:last-child) {
                        margin-right: 0x;
                    }
                }
            }
        }

        .action {
            &.close {
                height: 30px;
                position: absolute;
                right: 0;
                top: 0;
                width: 25px;
                .lib-button-reset();
                .lib-button-icon(
                    @icon-remove,
                    @_icon-font-color: @minicart-icons-color,
                    @_icon-font-size: 14px,
                    @_icon-font-line-height: 14px,
                    @_icon-font-text-hide: true
                );
            }

            &.showcart {
                white-space: nowrap;

                .text {
                    &:extend(.abs-visually-hidden all);
                }

                .counter.qty {
                    .lib-css(background, @primary__color);
                    .lib-css(color, @color-black);
                    height: 15px;
                    width: 15px;
                    line-height: 11px;
                    border-radius: 100px;
                    display: inline-block;
                    margin: 10px 0 0;
                    overflow: hidden;
                    text-align: center;
                    white-space: normal;

                    &.empty {
                        display: none;
                    }

                    .loader {
                        > img {
                            .lib-css(max-width, @minicart-qty__height);
                        }
                    }
                }

                .counter-number {
                    text-shadow: 0 0 7px rgba(0, 0, 0, 1);
                    font-size: 10px;
                }

                .counter-label {
                    &:extend(.abs-visually-hidden all);
                }
            }
        }

        .minicart-widgets {
            margin-top: 15px;
        }
    }

    //
    // Minicart initial position & animation
    // -------------------------
    .minicart-wrapper {

        // force the block to maintain visibility when not active
        .mage-dropdown-dialog {
            display: block !important;
        }

        .block-minicart {
            position: fixed;
            top: 0;
            right: -12%;
            height: 100%;
            min-width: auto;
            margin-top: 0;
            border: none;
            .lib-css(border-left, 1px solid @minicart__border-color);
            visibility: hidden;
            opacity: 0;
            transition: right .5s, opacity .5s, visibility .5s;

            // minicart indicator arrow disable
            &::after, &::before {
                display: none;
            }
        }
    }
    .minicart-wrapper.active .block-minicart {
        right: 0;
        visibility: visible;
        opacity: 1;
    }

    .minicart-items-wrapper {
        .lib-css(border, 1px solid @minicart__border-color);
        .lib-css(margin, 0);
        border-left: 0;
        border-right: 0;
        overflow-x: auto;
        padding: 15px;
    }

    .minicart-items {
        .lib-list-reset-styles();

        .product-item {
            padding: @indent__base 0;

            &:not(:first-child) {
                .lib-css(border-top, 1px solid @minicart__border-color);
            }

            &:first-child {
                padding-top: 0;
            }

            > .product {
                display: flex;
                flex-flow: wrap;
                align-items: center;
                &:extend(.abs-add-clearfix all);
            }
        }

        .product-image-wrapper {
            &:extend(.abs-reset-image-wrapper all);
        }

        .product-item-pricing {

            // this display qty:
            .label {
                display: none;
            }
        }

        .price-minicart {
            margin-bottom: @indent__xs;
        }

        .product-item-name {
            font-weight: @font-weight__bold;
            margin: 0 0 @indent__s;
            padding-right: 30px;

            a {
                .lib-css(color, @link__color);
            }
        }

        .product-item-details {
            padding: 0px 30px 0px 0px;
            flex: 40%;
            position: relative;

            .price {
                font-weight: @font-weight__bold;
            }

            .price-including-tax,
            .price-excluding-tax {
                margin: @indent__xs 0;
            }

            .weee[data-label] {
                .lib-font-size(11);

                .label {
                    &:extend(.abs-no-display all);
                }
            }

            .details-qty {
                margin-top: @indent__s;
                padding-right: 30px;

                .icon {
                    .lib-button-reset();
                    .lib-button-icon(
                        @icon-remove,
                        @_icon-font-color: @minicart-icons-color,
                        @_icon-font-size: 13px,
                        @_icon-font-line-height: 13px,
                        @_icon-font-text-hide: true
                    );
                    color: @secondary__color;
                    text-shadow: 0px 1px @secondary__color;
                    position: relative;
                    top: 3px;
                }

                .down-qty::before {
                    content: '\e60f';
                    font-family: 'luma-icons';
                }

                .up-qty::before {
                    content: '\e61c';
                    font-family: 'luma-icons';
                }
            }

            .product.options {
                padding-right: 30px;

                .subtitle {
                    padding: 5px 0px 5px;
                }
            }

            .product {
                .options {
                    &.list {
                        &:extend(.abs-product-options-list all);
                        &:extend(.abs-add-clearfix all);
                    }
                }
            }
        }

        .product {
            > .product-item-photo,
            > .product-image-container {
                flex: 1;
                display: flex;
                justify-content: center;
                padding-right: 3px;
                margin: 0 0 @indent__s;
            }

            .toggle {
                &:extend(.abs-toggling-title all);
                border: 0;
                padding: 0 0 @indent__xs 0;
                white-space: nowrap;

                &:after {
                    .lib-css(color, @color-gray56);
                    margin: 0 0 0 @indent__xs;
                    position: static;
                }
            }

            .active {
                > .toggle {
                    .lib-icon-font-symbol(
                        @_icon-font-content: @icon-up,
                        @_icon-font-position: after
                    );
                }
            }

            &.pricing {
                margin-top: 3px;
            }

            &.options {
                .toggle {
                    &.tooltip {
                        .lib-icon-font(
                            @icon-down,
                            @_icon-font-size: 12px,
                            @_icon-font-line-height: 12px,
                            @_icon-font-text-hide: true,
                            @_icon-font-margin: -3px 0 0 7px,
                            @_icon-font-position: after
                        );
                    }

                    > span {
                        &:extend(.abs-visually-hidden-reset all);
                    }
                }

                .details {
                    display: none;
                }
            }
        }

        .details-qty,
        .price-minicart {
            .label {
                &:extend(.abs-colon all);
            }
        }

        .item-qty {
            border: none;
            height: 33px;
            width: 42px;
            border-radius: 0;
            border-bottom: 2px solid @color-white; 
            text-align: center;
            transition: border-color .5s;

            &:hover {
                border-bottom: 2px solid @secondary__color;
            }
        }

        .update-cart-item {
            .lib-font-size(11);
            vertical-align: top;
        }

        .subtitle {
            display: none;
        }

        .action {
            &.edit,
            &.delete {
                .lib-icon-font(
                    @icon-edit,
                    @_icon-font-size: 18px,
                    @_icon-font-line-height: 20px,
                    @_icon-font-text-hide: true,
                    @_icon-font-color: @minicart-icons-color,
                    @_icon-font-color-hover: @primary__color,
                    @_icon-font-color-active: @minicart-icons-color
                );
            }

            &.delete {
                .lib-icon-font-symbol(
                    @_icon-font-content: @icon-trash
                );
            }
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
    .minicart-wrapper .block-minicart {
        width: 80%;
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .minicart-wrapper {
        .block-minicart {
            width: 75%;
        }
        margin-top: @indent__s;
        .lib-clearfix();

        .product {
            .actions {
                float: left;
                margin: 10px 0 0 0;
            }
        }

        .block-content .action-container{
            > .actions {
                flex: 100%;
            }
        }

        .update-cart-item {
            float: right;
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .minicart-wrapper {
        .block-minicart {
            width: 55%;
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .minicart-wrapper {
        margin-left: 13px;

        .block-minicart {
            width: 35%;
        }
    }
    .minilist .action.delete,
    .minicart-wrapper .action.edit {
        .lib-icon-font-size(
            @_icon-font-size: 16px
        );
    }
}
