// /**
//  * Copyright © Linets, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */
//
// Linets Theme
// ______________________________________________


//
//  Variables
//  _____________________________________________

@product-name-link__color: @text__color;
@product-name-link__color__active: @text__color;
@product-name-link__color__hover: @text__color;
@product-name-link__color__visited: @text__color;

@product-name-link__text-decoration: none;
@product-name-link__text-decoration__active: @link__hover__text-decoration;
@product-name-link__text-decoration__hover: @link__hover__text-decoration;
@product-name-link__text-decoration__visited: @link__hover__text-decoration;

@product-item__hover__background-color: @color-white;
@product-item__hover__box-shadow: 3px 4px 4px 0 rgba(0, 0, 0, .3);

@product-price__muted__color: @color-gray40;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    //  Product Lists
    .products {
        margin: @indent__l 0;
    }

    .product {
        
        .product-item-link{
            text-transform: uppercase;
            &:hover{
                text-decoration: none;
            }
        }

        &-items {
            .lib-inline-block-space-container();
            &:extend(.abs-reset-list all);
            text-align: center;
        }

        &-item {
            .lib-inline-block-space-item();
            vertical-align: top;

            .products-grid & {
                display: inline-block;
                margin-left: 2%;
                width: calc(~'(100% - 2%)/2');
            }

            &:nth-child(2n + 1) {
                margin-left: 0;
            }

            &:extend(.abs-add-box-sizing all);

            &-name {
                &:extend(.abs-product-link all);
                -moz-hyphens: auto;
                -ms-hyphens: auto;
                -webkit-hyphens: auto;
                display: block;
                hyphens: auto;
                margin: @indent__xs 0;
                word-wrap: break-word;
                text-align: left;
                .product-item-link{
                    text-transform: uppercase;
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    height: 50px;
                    &:hover{
                        text-decoration: none;
                    }
                }
            }

            &-info {
                max-width: 100%;
                padding: 20px 0px 9px;
                position: relative;
                background: @color-gray96;

                &.related-available {

                    .field {
                        
                        &.choice {

                            &.related {
                                left: 15px;
                                top: -25px;
                            }
                        } 
                    } 
                    .actions-secondary {
                        top: -35px;
                        right: 5px;
                    }
                }
            }

            &-details {
                padding: 0 15px;
            }

            &-actions {
                font-size: 0;

                > * {
                    font-size: 1.4rem;
                }

                .actions-secondary {
                    display: inline-block;
                    font-size: 1.4rem;
                    vertical-align: middle;
                    position: absolute;
                    top: 0;
                    right: @indent__xs;
                    a.action.tocompare {
                        display: none !important;
                    }
                    > button.action {
                        .lib-button-reset();
                    }

                    > .action {
                        &:extend(.abs-actions-addto all);
                        &:before {
                            margin: 0;
                        }
                        line-height: 35px;
                        text-align: center;
                        width: 35px;

                        span {
                            &:extend(.abs-visually-hidden all);
                        }
                    }
                }

                .actions-primary {
                    vertical-align: middle;
                }
            }

            &-description {
                margin: @indent__m 0;
            }

            .product-reviews-summary {
                .rating-summary {
                    margin: 0 4px 0 0;
                }

                .reviews-actions {
                    font-size: @font-size__s;
                    margin-top: @indent__xs;
                }
            }

            .price-box {
                margin: 5px 0 20px 0;
                text-align: left;
                display: flex;
                align-items: center;

                @media screen and (max-width: 400px) {
                    height: 40px;
                }
                .price {
                    font-weight: @font-weight__bold;
                    white-space: nowrap;
                }

                .price-label {
                    display: none;
                }
            }

            .normal-price {
                order: 2;
            }

            .old-price {
                margin-right: 5px;
                padding-right: 5px;
                order: 1;
                border-right: 1px;

                .price {
                    font-weight: normal;
                    text-decoration: line-through;
                }
            }

            .regular-price {
                .price-label {
                    display: none;
                }
            }

            .minimal-price {
                .price-container {
                    display: block;
                }
            }

            .minimal-price-link {
                margin-top: @indent__xs;
            }

            .price-from,
            .price-to {
                margin: 0;
            }

            .tocompare {
                .lib-icon-font-symbol(
                @icon-compare-full
                );
            }

            .tocart {
                .lib-font-size(13px);
                line-height: 1;
                padding-bottom: @indent__s;
                padding-top: @indent__s;
                white-space: nowrap;
                width: 100%;
                height: 40px;
                border-radius: 50px;

                span {
                    font-weight: @font-style__base;
                }
            }
        }
    }

    .column.main {
        .product {
            &-items {
                margin-left: 0;
            }

            &-item {
                padding-left: 0;
                margin-bottom: 10px;
            }
        }
    }

    .price-container {
        .price {
            .lib-font-size(14);
        }

        .price-including-tax + .price-excluding-tax,
        .weee {
            margin-top: @indent__xs;
        }

        .price-including-tax + .price-excluding-tax,
        .weee,
        .price-including-tax + .price-excluding-tax .price,
        .weee .price,
        .weee + .price-excluding-tax:before,
        .weee + .price-excluding-tax .price {
            .lib-font-size(11);
        }

        .weee {
            &:before {
                content: '(' attr(data-label) ': ';
            }

            &:after {
                content: ')';
            }

            + .price-excluding-tax {
                &:before {
                    content: attr(data-label) ': ';
                }
            }
        }
    }

    .products-list {
        .product {
            &-item {
                display: table;
                width: 100%;

                &-info {
                    display: table-row;
                }

                &-photo {
                    display: table-cell;
                    padding: 0 @indent__l @indent__l 0;
                    vertical-align: top;
                    width: 1%;
                }

                &-details {
                    display: table-cell;
                    vertical-align: top;
                    padding: 15px;


                    .product-item-inner {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                    }
                }
            }
        }

        .product-image-wrapper {
            &:extend(.abs-reset-image-wrapper all);
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {

    .product-item-actions {
        .actions-secondary {
            .action.delete{
                &:before{
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                    content: ' ';
                    background-image: url('@{baseDir}images/delete.svg');
                    background-size: 43px;
                    background-repeat: no-repeat;
                    width: 43px;
                    height: 43px;
                }
            }
        }
    }

    .product-item-details {
        padding: 5px;
    }

    .product-item .tocart span {
        .lib-font-size(11);
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .products-list .product {
        &-item {
            table-layout: fixed;

            &-photo {
                padding: 0 @indent__s @indent__s 0;
                width: 30%;
            }
        }
    }
    .product-item-actions {
        .actions-secondary {
            .action.delete{
                &:before{
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                    content: ' ';
                    background-image: url('@{baseDir}images/delete.svg');
                    background-size: 43px;
                    background-repeat: no-repeat;
                    width: 43px;
                    height: 43px;
                }
            }
        }
    }
}
//WISHLIST MY ACCOUNT
.wishlist-index-index{
    .product-item-info {
        .product-item-name, .price-box{
            margin-left: 10px !important;
        }
        .product-item-inner {
            position: inherit;
            border: 0;
            box-shadow: none;
            background: @color-white-smoke;
            .comment-box{
                display: none;
            }
            .box-tocart{
                margin-bottom: 0;
                float: inherit;
                @media (max-width: 768px) {
                    float: inherit;
                    margin-right: inherit;
                }
                .qty{
                    display: none !important;
                }
                .product-item-actions{
                    display: block !important;
                    float: inherit !important;
                    .actions-primary{
                        display: block;
                        .tocart{
                            width: 100%;
                            float: inherit !important;
                        }
                    }
                }
            }
            .product-item-actions{
                float: inherit !important;
                .edit{
                    display: none !important;
                }
            }
        }
    }
    .actions-toolbar{
        .primary{
            .action{
                &:hover{
                    color: @color-gray-darken3;
                }
            }
        }
    }
}



.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s) {
    .product-item-info {
        .products-grid & {
            position: relative;
            z-index: 9;
            .product-item-inner {
                display: block;
            }
            .sidebar & {
                .product-item-photo {
                    left: 9px;
                    top: 9px;
                }
            }
        }
    }

    .product-item-inner {
        .products-grid & {
            margin: 40px 0 0 -1px;
            z-index: 2;
        }
    }

    .product-item-actions {
        display: block;

        .products-grid & {
            margin: -@indent__s 0 @indent__s;
        }

        .actions-primary + .actions-secondary {
            display: inline-block;
            vertical-align: middle;

            > .action {
                line-height: 35px;
                text-align: center;
                width: 35px;

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    .page-products {
        .products-grid {
            .product-item-inner {
                &:before {
                    .lib-css(background, @product-item__hover__background-color);
                    content: '';
                    height: 3px;
                    left: 0;
                    position: absolute;
                    top: -2px;
                    width: 100%;
                    z-index: -1;
                }
            }
        }

        .product-item-actions {
            z-index: 1;
        }
    }

    .products-grid {
        .product-item {
            margin-bottom: @indent__base;
            width: 100%/3;
        }
    }

    .page-products,
    .page-layout-1column,
    .page-layout-3columns,
    .page-products.page-layout-1column,
    .page-products.page-layout-3columns {
        .products-grid {
            .product-item {
                margin-left: 0;
                width: calc(~'(100% - 4%) / 3');

                &:nth-child(3n + 1) {
                    margin-left: 0;
                }
            }
        }
    }

}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .page-products {
        .products-grid {
            .product-item {
                margin-left: 2%;
                width: calc(~'(100% - 4%) / 3');

                &:nth-child(3n + 1) {
                    margin-left: 0;
                }
            }
        }
    }

    .page-products.page-layout-1column {
        .products-grid {
            .product-item {
                width: 100%/4;
            }
        }
    }

    .page-products.page-layout-3columns {
        .products-grid {
            .product-item {
                width: 100%/2;
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {

    .products-grid {
        .product-item {
            width: 100%/5;
        }
    }

    .page-layout-1column {
        .products-grid {
            .product-item {
                width: 100%/6;
            }
        }
    }

    .page-layout-3columns {
        .products-grid {
            .product-item {
                width: 100%/4;
            }
        }
    }

    .page-products {
        .products-grid {
            .product-items {
                margin: 0;
            }

            .product-item {
                margin-left: 2%;
                padding: @indent__xs;
                width: calc(~'(100% - 6%)/4');

                &:nth-child(3n + 1) {
                    margin-left: 2%;
                }

                &:nth-child(4n + 1) {
                    margin-left: 0;
                }
            }
        }
    }

    .page-products {
        &.page-layout-1column {
            .products-grid {
                .product-item {
                    margin-left: 0;
                    width: 100%/5;
                }
            }
        }

        &.page-layout-3columns {
            .products-grid {
                .product-item {
                    margin-left: 1%;
                    width: 32.667%;

                    &:nth-child(3n) {
                        margin-left: 1%;
                    }

                    &:nth-child(3n + 1) {
                        margin-left: 0;
                    }
                }
            }
        }
    }
}
