<!--
/**
 * Copyright © Linets, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
 
// Linets Theme
// ______________________________________________
-->
<span class="product-image-container" data-bind="style: {width: width + 'px'}">
    <span class="product-image-wrapper"  data-bind="style: {'padding-bottom': height/width*100 + '%'}">
        <img class="product-image-photo" data-bind="attr: {src: src, alt: alt}, style: {width: 'auto', height: 'auto'}" />
    </span>
</span>
