// /**
//  * Copyright © Linets, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */
//
// Linets Theme
// ______________________________________________

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    //  Newsletter subscription
    .block.newsletter {
        margin-bottom: 20px;

        .form.subscribe {
            display: table;
            width: 100%;
        }

        .fieldset {
            display: table-cell;
            margin: 0;
            padding: 0;
            vertical-align: top;
        }

        .field {
            margin: 0;

            .control {
                display: block;

                &:before {
                    position: absolute;
                    content: ' ';
                    background-image: url('@{baseDir}images/mail.svg');
                    background-size: 29px;
                    background-repeat: no-repeat;
                    height: 30px;
                    background-position: 10px 10px;
                    width: 40px;
                }

            }
        }

        input {
            margin-right: 35px;
            padding: 0 0 0 45px; // Reset some default Safari padding values.
            height: 40px;
        }

        .title {
            display: none;
        }

        .label {
            &:extend(.abs-visually-hidden all);
        }

        .actions {
            display: table-cell;
            vertical-align: top;
            width: 1%;
        }

        .action.subscribe {
            margin-left: -1px;
            white-space: nowrap;
            border-radius: 50px;
            padding: 12px 32px;
            margin-right: @indent__xs;

            span {
                text-transform: capitalize;
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .block.newsletter {
        max-width: 44%;
        width: max-content;
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .block {
        &.newsletter {
            input {
                font-size: 12px;
                padding-left: 45px;
            }

            .field {
                .control:before {
                    font-size: 13px;
                }
            }
            
            .action.subscribe {
                padding: 12px @indent__s;
            }
        }
    }
}
