// /**
//  * Copyright © Linets, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */
//
// Linets Theme
// ______________________________________________

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .column {
        .block-addbysku {
            .fieldset {
                margin: 0;

                .fields {
                    position: relative;

                    .field {
                        display: inline-block;
                        margin-bottom: @indent__s;
                        vertical-align: top;
                    }

                    .actions-toolbar {
                        position: absolute;
                        right: 0;
                        top: 7px;
                    }
                }
            }

            .sku {
                &:extend(.abs-add-box-sizing all);
                margin-right: -155px;
                padding-right: 160px;
                width: 100%;
            }

            .qty {
                .qty {
                    &:extend(.abs-input-qty all);

                    + .mage-error {
                        width: 80px;
                    }
                }
            }

            .block-content {
                &:extend(.abs-add-clearfix-desktop all);

                .box {
                    &:extend(.abs-blocks-2columns all);
                }

                .actions-toolbar {
                    clear: both;
                    .lib-actions-toolbar(
                    @_actions-toolbar-actions-position: left,
                    @_actions-toolbar-margin: 0 0 @indent__base
                    );
                    .lib-actions-toolbar-clear-floats();

                    > .secondary {
                        text-align: left;
                    }
                }
            }

            .action {
                &.add {
                    .lib-button-icon(
                    @_icon-font-content: @icon-expand,
                    @_icon-font-text-hide: true,
                    @_icon-font-size: 20px
                    );
                    line-height: normal;
                    padding: 4px;
                    width: auto;
                }
            }

            .reset {
                margin: 7px 0;
            }

            .note {
                display: block;
                margin: 0 0 @indent__base;
                padding-top: @indent__s;
            }
        }
    }

    .block-cart-failed {
        margin: @indent__xl 0;
        &:extend(.abs-shopping-cart-items all);

        .block-title {
            .lib-font-size(@h2__font-size);

            strong {
                font-weight: @h2__font-weight;
            }
        }

        .actions {
            text-align: center;

            .action {
                display: block;
                margin: 0 auto @indent__s;
            }
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .column {
        .block-addbysku {
            .sku {
                margin-right: -85px;
                padding-right: 90px;
            }

            .action {
                &.remove {
                    .lib-button-icon(
                    @_icon-font-content: @icon-trash,
                    @_icon-font-text-hide: true,
                    @_icon-font-size: 18px,
                    @_icon-font-color: @minicart-icons-color,
                    @_icon-font-margin: -4px 0 0
                    );
                    .lib-button-reset();
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .block-cart-failed {
        .block-title {
            margin: 0 @indent__base @indent__base;
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s) {
    .column {
        .block-addbysku {
            .action {
                &.remove {
                    .lib-button-reset();
                    .lib-button-as-link();
                    margin-top: -4px;
                }
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .block-cart-failed {
        &:extend(.abs-shopping-cart-items-desktop all);

        .secondary {
            .action {
                margin: 0;
            }
        }

        .actions.primary {
            float: right;
        }

        .block-content {
            &:extend(.abs-add-clearfix-desktop all);
        }
    }
}
