// /**
//  * Copyright © Linets, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */
//
// Linets Theme
// ______________________________________________

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .sidebar {
        .block-addbysku {
            .fieldset {
                margin: 0;

                .fields {
                    position: relative;

                    .field {
                        display: inline-block;
                        margin-bottom: @indent__s;
                        vertical-align: top;

                        &.sku {
                            &:extend(.abs-add-box-sizing all);
                            margin-right: -85px;
                            padding-right: 90px;
                            width: 100%;
                        }

                        &.qty {
                            .qty {
                                &:extend(.abs-input-qty all);
                                + .mage-error {
                                    width: 80px;
                                }
                            }
                        }
                    }

                    .actions-toolbar {
                        position: absolute;
                        right: 0;
                        top: 7px;
                    }
                }
            }

            .form-addbysku {
                .actions-toolbar {
                    margin-bottom: @indent__base;

                    .primary {
                        text-align: left;

                        .action {
                            width: auto;
                        }
                    }

                    .secondary {
                        float: none;
                        text-align: left;
                    }
                }
            }

            .action {
                &.add {
                    .lib-button-icon(
                    @_icon-font-content: @icon-expand,
                    @_icon-font-text-hide: true,
                    @_icon-font-size: 18px
                    );
                    line-height: normal;
                    padding: 4px;
                    width: auto;
                }

                &.links {
                    display: inline-block;
                    margin: @indent__base 0 0;
                }

                &.reset {
                    display: block;
                    margin: @indent__s 0;
                }

                &.remove {
                    .lib-button-icon(
                    @_icon-font-content: @icon-remove,
                    @_icon-font-text-hide: true,
                    @_icon-font-size: 12px,
                    @_icon-font-color: @color-gray60
                    );
                    .lib-button-reset();
                }
            }
        }
    }
}
