// /**
//  * Copyright © Linets, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */
//
// Linets Theme
// ______________________________________________

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    //  PayPal Review Order page
    .paypal-review {
        .block {
            &:extend(.abs-account-blocks all);
            .actions-toolbar {
                .action {
                    &.primary {
                        &:extend(.abs-revert-secondary-color all);
                    }
                }
            }
        }

        .actions-toolbar {
            margin-top: @indent__s;
        }

        .paypal-review-title {
            padding: 0 0 @indent__s;

            > strong {
                .lib-font-size(24);
                font-weight: @font-weight__light;
            }

            .action {
                display: inline-block;
                margin: 12px 0 0 @indent__l;
            }
        }

        .table-paypal-review-items {
            .col {
                &.price,
                &.subtotal {
                    &:extend(.abs-incl-excl-tax all);
                }

                &.name {
                    padding-top: 16px;
                }

                &.qty {
                    text-align: center;
                }
            }

            .cart-tax-total {
                &:extend(.abs-tax-total all);
                &-expanded {
                    &:extend(.abs-tax-total-expanded all);
                }
            }
        }

        .item-options {
            dt {
                display: inline-block;
                &:after {
                    content: ': ';
                }
            }

            dd {
                margin: 0;
            }
        }
    }

    //  Discounts
    .paypal-review-discount {
        &:extend(.abs-discount-block all);
        border-bottom: @border-width__base solid @border-color__base;
        margin: 0 0 @indent__xl;
        padding: @indent__s 0 0;
    }

    .order-review-form {
        .action {
            &.primary {
                &:extend(.abs-button-l all);
            }
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .table-paypal-review-items {
        .col {
            &.subtotal {
                text-align: left;
            }
        }

        .product-item-name {
            display: inline-block;
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .paypal-review {
        .paypal-review-title {
            border-bottom: @border-width__base solid @border-color__base;
        }

        .block-content {
            &:extend(.abs-add-clearfix-desktop all);

            .box-order-shipping-address,
            .box-order-shipping-method,
            .box-order-shipping-method + .box-order-billing-address {
                box-sizing: border-box;
                float: left;
                width: 33%;
            }

            .box-order-shipping-address {
                padding: 0 5%;
                width: 34%;
            }
        }

        .column.main & {
            .actions-toolbar {
                &:extend(.abs-reset-left-margin-desktop all);
            }
        }

        .table-paypal-review-items {
            .col {
                &.price,
                &.qty {
                    text-align: center;
                }

                &.item {
                    width: 60%;
                }
            }
        }

        .col.subtotal,
        .mark,
        .amount {
            text-align: right;
        }
    }

    //  Discounts
    .paypal-review-discount {
        &:extend(.abs-add-clearfix-desktop all);
        &:extend(.abs-discount-block-desktop all);
        border-top: @border-width__base solid @border-color__base;

        .block {
            .lib-css(margin-bottom, @indent__base - @indent__xs);

            &.giftcard {
                &.active {
                    .lib-css(padding-bottom, @indent__xl);
                }
            }

            .title {
                &:after {
                    display: inline;
                    margin-left: @indent__s;
                    position: static;
                }
            }

            .content {
                padding-bottom: 0;
            }
        }
    }

    .order-review-form {
        &:extend(.abs-add-clearfix-desktop all);

        .actions-toolbar {
            > .primary {
                float: right;
            }
        }

        .action {
            &.primary {
                margin-right: 0;
            }
        }
    }
}
