// /**
//  * Copyright © Linets, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */
//
// Linets Theme
// ______________________________________________


//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .order-details-items.rma {
        .order-title {
            display: none;

            + .toolbar {
                display: none;
            }
        }
    }

    .form-create-return {
        &:extend(.abs-add-fields all);

        .additional {
            &:first-child {
                margin-top: 0;
            }
        }

        .field.comment {
            margin-top: 55px;
        }

        .actions-toolbar {
            &:extend(.abs-add-clearfix all);
        }
    }

    .return-status {
        &:extend(.abs-status all);
    }

    .table-wrapper.table-returns {
        .returns-details {
            &.hidden {
                display: none;
            }
        }
    }

    .block-returns-comments {
        .returns-comments {
            dt,
            dd {
                margin: 0;
            }

            dt {
                font-weight: @font-weight__regular;
            }

            dd {
                margin-bottom: 15px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        .fieldset {
            margin-bottom: @indent__base;
        }
    }

    .magento-rma-returns-returns,
    .magento-rma-returns-view {
        &:extend(.abs-title-orders all);
    }

    //
    //  Guest return view page
    //  ---------------------------------------------

    .magento-rma-guest-returns {
        .column.main {
            .block:not(.widget) {
                &:extend(.abs-account-blocks all);
            }
        }

        &:extend(.abs-title-orders all);
    }

    .magento-rma-guest-create {
        .order-links {
            .item {
                a {
                    .lib-button-as-link(@_margin: 0 @indent__l 0 0);
                }
            }
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .form-create-return {
        .additional {
            .field:nth-last-child(2) {
                margin-bottom: 0;
            }

            .field:last-child {
                margin-top: @form-field__vertical-indent;
            }
        }
    }

    .magento-rma-returns-returns,
    .magento-rma-returns-view {
        &:extend(.abs-title-orders-mobile all);
    }

    .account {
        .column.main {
            .returns-details-items {
                .block-returns-tracking {
                    .block-title {
                        > .action.track {
                            display: block;
                            float: none;
                            margin: @indent__s 0 0;
                        }
                    }
                }
            }
        }
    }

    .table-wrapper.table-returns {
        &:extend(.abs-no-border-top all);
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .form-create-return {
        &:extend(.abs-add-fields-desktop all);
        &:extend(.abs-form-field-column-2 all);
        .fieldset .field {
            width: 45%;
        }
    }

    .return-status {
        &:extend(.abs-status-desktop all);
    }

    .magento-rma-returns-returns,
    .magento-rma-returns-view {
        &:extend(.abs-title-orders-desktop all);
    }

    .magento-rma-guest-returns {
        .column.main .block.block-order-details-view {
            &:extend(.abs-add-clearfix-desktop all);

            .block-content:not(.widget) .box {
                &:extend(.abs-add-box-sizing-desktop all);
                clear: none;
                float: left;
                width: 100%/4;
            }
        }
    }

    .block-returns-tracking {
        .block-title {
            .action {
                margin: 0 0 0 30px;
            }

            .actions-track {
                float: right;
                margin-top: 12px;
            }
        }
    }
}
