// /**
//  * Copyright © Linets, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */
//
// Linets Theme
// ______________________________________________

//
//  Advanced Search
//  _____________________________________________

//  This part of code fixes the gap between page title and error message
//  In Luma on Mobile screens we have top padding on '.column' to give room for absolutely positioned toolbar controls.
//  If Advanced Search returns no results, controls do not appear, and visual gap appears.
//  We compensate it with negative top margin applied to '.message.error' on Mobile screens.

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .catalogsearch-advanced-result {
        .message {
            &.error {
                margin-top: -60px;
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s) {
    .catalogsearch-advanced-result {
        .message {
            &.error {
                margin-top: 0;
            }
        }
    }
}
