// /**
//  * Copyright © Linets, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */
//
// Linets Theme
// ______________________________________________


//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    .form-add-invitations {
        &:extend(.abs-add-fields all);

        .fields {
            .label {
                &:extend(.abs-visually-hidden all);
            }
        }

        .additional,
        .field.message {
            .lib-css(margin-top, @form-field__vertical-indent);
        }

        .action {
            &.remove {
                top: 4px;
            }

            &.add {
                .lib-button-icon(
                    @_icon-font-content: @icon-expand,
                    @_icon-font-text-hide: true,
                    @_icon-font-size: 18px
                );
                line-height: normal;
                padding: 4px;
                width: auto;
            }
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .form-add-invitations {
        .action {
            &.remove {
                .lib-button-icon(
                    @_icon-font-content: @icon-trash,
                    @_icon-font-text-hide: true,
                    @_icon-font-size: 18px,
                    @_icon-font-color: @minicart-icons-color
                );
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s) {
    .form-add-invitations {
        &:extend(.abs-add-fields-desktop all);
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .table-invitations {
        .col {
            width: 50%;
        }
    }
}
